.blog-one {
    background: $light-grey;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;

    .blog-thumb {
        position: relative;
        z-index: 3;

        img {
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    .blog-content {
        padding: 10px 50px 35px 35px;
    }

    .author {
        border-radius: 50%;
        margin-right: 10px;
    }


    .blog-meta {

        a {
            color: $body-text-color;
            font-size: 18px;
            font-weight: 400;
            font-family: $latoFont;
            display: inline-block;
            margin-right: 4px;

            &.author-name {
                color: $title;
                font-weight: 500;
            }

            &:first-child {
                color: $body-text-color;
            }
        }
    }

    .blog-title {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        font-family: $poppinsFont;
        letter-spacing: -0.6px;
        margin-bottom: 20px;
        margin-top: 20px;

        a {
            color: $heding;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }

    .blog-tag {
        color: $white;
        font-size: 14px;
        font-family: $latoFont;
        line-height: 35px;
        padding: 7px 15px;
        background: $black;
        border-radius: 17.5px;
        position: absolute;
        left: 35px;
        top: 35px;
        z-index: 2;
    }

    .blog-text {
        margin-bottom: 48px;
    }


    .blog-btn {
        display: none;
        color: $title;
        font-size: 18px;
        font-weight: 500;
        font-family: $latoFont;
        letter-spacing: 0.05px;
        transition: all 0.4s ease 0s;
        margin-top: 15px;

        i {
            margin-left: 19px;
        }

        &:hover {
            color: $theme-color;
        }
    }

    &.version-2 {
        .blog-tag {
            background: $theme-color2;
        }

        .blog-title {
            font-family: $latoFont;

            a {
                color: $title;
            }
        }
    }

    &:hover {
        border-color: $black;
    }

    @media #{$max-lg} {
        .blog-title {
            font-size: 26px;
        }

    }

    @media #{$max-md} {
        .blog-title {
            font-size: 24px;
        }

        .blog-content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media #{$max-xs} {}
}

.blog-two,
.blog-five {
    padding: 25px;
    border-radius: 20px;
    border: 1.5px solid $hr-border-color;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;

    .blog-thumb {
        margin-bottom: 25px;
        position: relative;
        z-index: 1;

        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }

    .blog-tag {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        font-family: $latoFont;
        line-height: 35px;
        display: inline-block;
        padding: 0 15px;
        background: $theme-color2;
        border-radius: 20px;
        position: absolute;
        z-index: 1;
        left: 15px;
        top: 15px;
    }

    .blog-meta {
        display: flex;
        justify-content: space-between;

        a {
            color: rgba(0, 0, 0, 0.6);
            font-size: 18px;
            font-weight: 400;
            font-family: $latoFont;
            display: inline-block;
            margin-right: 4px;
            @include transition(.4s);

            &.author-name {
                color: $title;
                font-weight: 500;
            }

            &:first-child {
                color: $body-text-color;
            }

            &:hover {
                color: $theme-color;
            }
        }
    }

    .divider {
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        width: 1.5px;
        height: 13px;
        transform: rotate(15deg);
        margin-right: 4px;
    }

    .blog-title {
        font-size: 26px;
        line-height: 1.3;
        font-weight: 600;
        font-family: $latoFont;
        letter-spacing: -0.52px;
        margin-bottom: 20px;

        a {
            color: $heding;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }


    p {
        margin-bottom: 60px;
    }

    .more-btn {
        color: $heding;
        font-size: 18px;
        font-weight: 600;
        font-family: $poppinsFont;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        transition: all 0.4s ease 0s;
    }

    &:hover {
        border-color: $theme-color;
    }

    @media #{$max-laptop} {
        .blog-title {
            font-size: 24px;
        }

    }

    @media #{$max-lg } {
        padding-left: 15px;
        padding-right: 15px;
    }


    @media #{$max-xs} {

        .blog-title {
            font-size: 24px;

        }
    }
}

.blog-three {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;

    .blog-btn {
        position: absolute;
        right: 68px;
        bottom: 40px;
        z-index: 2;
        width: 60px;
        height: 60px;
        background: $theme-color;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: $white;
        opacity: 0;
        visibility: hidden;
        @include transition(.4s);
    }

    .blog-thumb {
        display: inline-block;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 220px;
            border-radius: 0px 0px 30px 30px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        }

        img {
            max-width: 100%;
            border-radius: 30px;
        }
    }

    .blog-tag {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        font-family: $latoFont;
        line-height: 35px;
        display: inline-block;
        padding: 0 19px;
        background: $theme-color2;
        border-radius: 35px;
        position: absolute;
        z-index: 1;
        left: 35px;
        top: 35px;
    }

    .author {
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            background: $black;
            width: 20px;
            height: 1.5px;
            left: 0;
            top: -4px;
            margin-right: 10px;
            display: inline-block;
            position: relative;
            z-index: 1;
        }
    }

    .blog-meta {
        margin-top: 15px;
        margin-bottom: 17px;

        .author {
            border-radius: 50%;
            margin-right: 12px;
        }

        a {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            font-family: $latoFont;
            display: inline-block;
            padding: 0px 3px;

            @include transition(.4s);


            // &:hover {
            //     color: $theme-color;
            // }
            &:first-child {
                padding-left: 0;
            }

            &.post-time {
                color: rgba(255, 255, 255, 0.7);
                font-size: 18px;
                font-weight: 400;
                font-family: $latoFont;
            }
        }

        .divider {
            display: inline-block;
            width: 1.5px;
            height: 14px;
            background: rgba(0, 0, 0, 0.6);
            transform: rotate(32deg) translateY(2px);
        }
    }

    .blog-title {
        font-size: 32px;
        line-height: 1.25;
        font-weight: 600;
        font-family: $latoFont;
        letter-spacing: -0.64px;
        margin-bottom: 25px;

        a {
            color: $white;
            @include transition(.4s);
        }
    }


    p {
        margin-bottom: 30px;
    }

    .more-btn {
        color: $heding;
        font-size: 18px;
        font-weight: 600;
        font-family: $poppinsFont;
        text-transform: uppercase;
        display: inline-flex;
        align-items: center;
        transition: all 0.4s ease 0s;
    }

    .blog-content {
        position: absolute;
        left: 35px;
        right: 35px;
        bottom: 20px;
        z-index: 2;
    }

    &:hover {
        .blog-btn {
            opacity: 1;
            visibility: visible;
        }
    }


    @media #{$max-laptop} {
        .blog-title {
            font-size: 28px;
            line-height: 36px;
        }

    }

    @media #{$max-md} {
        .blog-thumb {
            display: block;

            img {
                width: 100%;
            }
        }
    }


    @media #{$max-xs} {
        .blog-btn {
            right: 15px;
            top: 15px;
        }

        .blog-title {
            font-size: 20px;
            line-height: 30px;
        }

        .blog-content {
            left: 5px;
            right: 0;
            bottom: 0;
        }

        .blog-meta {
            a {
                font-size: 14px;
            }
        }

        .blog-tag {
            left: 15px;
            top: 15px;
        }
    }
}

.blog-four {
    .blog-thumb {
        img {
            border-radius: 20px;
        }
    }

    .blog-tag {
        color: $title;
        font-size: 14px;
        font-weight: 700;
        font-family: $latoFont;
        line-height: 35px;
        display: inline-block;
        padding: 0 12px;
        border: 1.5px solid $theme-color2;
        border-radius: 17.5px;
        margin-bottom: 20px;
    }

    .blog-title {
        font-size: 26px;
        line-height: 130.769%;
        font-weight: 600;
        font-family: $poppinsFont;
        letter-spacing: -0.52px;
        margin-bottom: 15px;

        a {
            color: $title;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }

    .blog-meta {
        margin-top: 15px;
        margin-bottom: 17px;

        .author {
            border-radius: 50%;
            margin-right: 12px;
        }

        a {
            color: $black;
            font-size: 16px;
            font-weight: 400;
            font-family: $latoFont;
            display: inline-block;
            padding: 0px 3px;
            position: relative;
            z-index: 1;

            @include transition(.4s);


            // &:hover {
            //     color: $theme-color;
            // }
            &:first-child {
                padding-left: 0;

                &::before {
                    content: '';
                    position: relative;
                    z-index: 1;
                    background: $black;
                    width: 20px;
                    height: 1.5px;
                    left: 0;
                    top: -4px;
                    display: inline-block;
                    margin-right: 12px;
                }
            }

            &.post-time {
                color: rgba(0, 0, 0, 0.7);
                font-size: 16px;
                font-weight: 400;
                font-family: $latoFont;
            }
        }

        .divider {
            display: inline-block;
            width: 1.5px;
            height: 18px;
            background: rgba(0, 0, 0, 0.6);
            transform: rotate(28deg) translateY(5px);
        }
    }

    .blog-content {
        margin-left: 20px;
    }

    @media #{$max-lg} {
        .blog-title {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .blog-tag {
            margin-bottom: 10px;
        }

        .blog-content {
            margin-left: 10px;
        }
    }

    @media #{$max-xs} {
        .blog-thumb {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
    }

}

.blog-five {
    @include transition(.4s);

    &:hover {
        border-color: $theme-color;
        background: $theme-color;

        .blog-title {
            a {
                color: $white;
            }
        }

        .blog-meta {
            a {
                &:last-child {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            a {
                color: $white;
            }
        }
    }
}

.classic-style {
    margin-bottom: 80px;
    background: $light-grey;
    border-radius: 20px;
    position: relative;
    z-index: 1;

    .blog-thumb {
        position: relative;
        z-index: 1;

        img {
            max-width: 100%;
            border-radius: 20px;
        }
    }

    .popup-video {
        color: $white;
        font-size: 50px;
        width: 120px;
        height: 120px;
        line-height: 120px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: $theme-color;
        position: absolute;

        img {
            width: 20px;
        }
    }

    button.slick-arrow {
        font-size: 24px;
        border: 0;
        background: rgba(7, 17, 6, 0.3);
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    button.slick-next {
        left: auto;
        right: 30px;
    }

    button.slick-prev {
        left: 30px;
    }

    .blog-tag {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        font-family: $latoFont;
        line-height: 35px;
        display: inline-block;
        padding: 0 14px;
        background: $theme-color2;
        border-radius: 17.5px;
        position: absolute;
        z-index: 1;
        right: 25px;
        top: 25px;
    }

    .blog-meta {

        .author {
            margin-right: 12px;
        }

        a {
            color: rgba(0, 0, 0, 0.6);
            font-size: 18px;
            font-weight: 400;
            font-family: $latoFont;
            display: inline-block;
            margin-right: 4px;

            &:hover {
                color: $theme-color;
            }

            &.author-name {
                color: $title;
                font-weight: 500;
            }

            &:first-child {
                color: $body-text-color;
            }

            &:last-child {
                margin-left: 10px;
            }
        }
    }

    .divider {
        width: 1.5px;
        height: 18px;
        background: rgba(0, 0, 0, 0.6);
        display: inline-block;
        transform: rotate(18deg);
        position: relative;
        top: 3px;
        margin: 0 5px;
    }

    .blog-title {
        font-size: 40px;
        line-height: 1.12;
        font-weight: 600;
        font-family: $poppinsFont;
        margin-bottom: 30px;
        margin-top: 5px;

        a {
            color: $heding;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }

    .blog-content {
        padding: 30px;
    }

    .author {
        border-radius: 50%;
    }

    p {
        margin-bottom: 30px;
    }

    .blog-btn {
        color: $heding;
        font-size: 18px;
        font-weight: 600;
        font-family: $latoFont;
        text-transform: uppercase;
        display: inline-flex;
        display: none;
        align-items: center;
        transition: all 0.4s ease 0s;

        .btn-icon {
            position: relative;
            z-index: 1;
            margin-left: 10px;
        }

        img {
            display: inline-block;
            transition: all 0.4s ease 0s;

        }

        &:hover {
            border-bottom: 1.5px solid $heding;
        }
    }




    @media #{$max-laptop} {
        font-size: 36px;
    }


    @media #{$max-lg} {

        .blog-meta a {
            font-size: 15px;
            font-weight: 400;
        }

        .blog-meta a:first-child {
            margin-right: 3px;
        }

        .blog-title {
            font-size: 28px;
            line-height: 1.4;
        }

    }

    @media #{$max-md} {
        margin-right: 0;
    }

    @media #{$max-xs} {
        margin-left: 0;
    }
}

.blockquote {
    padding: 60px 48px 57px 40px;
    background: $theme-color2;
    border: 1.5px solid $theme-color2;
    border-radius: 25px;
    position: relative;
    z-index: 1;

    img {
        display: inline-block;
    }

    .quote-icon {
        position: absolute;
        z-index: 1;
        right: 100px;
        bottom: 37px;
    }

    .blockquote-content {
        flex: 1;
    }

    p {
        color: $white;
        font-family: $poppinsFont;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -0.64px;
        margin-bottom: 32px;
        margin-left: 24px;

        @media #{$max-lg} {
            font-size: 20px;
        }
    }

    .blockquote-footer {
        color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        font-size: 22px;
        font-weight: 400;
        font-family: $latoFont;
        position: relative;

        &::before {
            color: $white;
            width: 24px;
            height: 2px;
            border-radius: 6px;
            left: 10px;
        }

        @media #{$max-lg} {
            font-size: 20px;
        }
    }

    @media #{$max-lg} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.blog-details-wrapper {
    .classic-style {
        border: 0;

        .blog-meta {
            margin-bottom: 20px;

            a {
                color: $title;
                font-weight: 500;
            }
        }

        .blog-title {
            font-size: 60px;
            font-weight: 600;
            font-family: $latoFont;
            line-height: 1.1;

            @media #{$max-laptop} {
                font-size: 45px;
            }

            @media #{$max-lg} {
                font-size: 36px;
            }

            @media #{$max-xs} {
                font-size: 28px;
            }
        }

        .blog-content {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .img-box {
        img {
            border-radius: 20px;
        }
    }
}


//comment-box
.comment-reply-title,
.comment-title,
.blog-details-title {
    color: $title;
    font-size: 42px;
    font-weight: 600;
    font-family: $latoFont;

    @media #{$max-lg} {
        font-size: 24px;
    }
}

.comment-box {
    position: relative;
    z-index: 1;
    border: 1.5px solid transparent;
    padding: 35px 45px 10px 45px;
    border-radius: 15px;

    .date {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        font-family: $latoFont;
        margin-bottom: 0;
    }

    .name {
        font-size: 20px;
        font-weight: 600;
        color: $heding;
    }

    .comment-avatar {
        float: left;
        margin-right: 30px;
        margin-top: 8px;

        img {
            width: 100px;
            height: 100px;
        }

        @media #{$xs} {
            float: none;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 15px;
        }
    }

    .comment-content {
        overflow: hidden;

        p {
            i {
                margin-right: 5px;
            }
        }

        h5 {
            margin-bottom: 3px;
        }
    }

    .comment-reply-link {
        color: $white;
        font-size: 16px;
        font-weight: 500;
        font-family: $latoFont;
        padding: 10px 22px;
        line-height: 1;
        position: absolute;
        background: $theme-color2;
        z-index: 1;
        right: 45px;
        top: 45px;
        border-radius: 4px;

        @media #{$xs} {
            float: none;
            margin-right: 0;
            margin-top: 0;
            position: relative;
        }

        &:hover {
            color: $white;
            background: $theme-color;
        }
    }

    @media #{$max-laptop} {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin-bottom: 40px;
    }
}

//comment

.media-content {
    border-radius: 15px;
    margin-top: 50px;

    .tagcloud {
        span {
            color: $white;
        }

        a {
            border-color: $white;
            background: $white;

            &:hover {
                border-color: $theme-color;
            }
        }
    }

    .social-links {
        span {
            color: $white;
            font-size: 22px;
            font-weight: 500;
            font-family: $latoFont;
            display: inline-block;
            margin-right: 10px;
        }

        a {
            color: $white;
            border: 1.5px solid $white;

            &:hover {
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}