/*-------------------------------------
theme-btn
---------------------------------------*/
.ht-btn {
    overflow: hidden;
    color: $white;
    font-size: 18px;
    font-family: $latoFont;
    font-weight: 600;
    line-height: 1;
    background-color: $theme-color;
    padding: 21px 49px 21px 49px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;

    &::before {
        -webkit-transition-duration: 800ms;
        transition-duration: 800ms;
        position: absolute;
        width: 0px;
        height: 100%;
        content: "";
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: $theme-color2;
    }

    .btn-icon {
        margin-left: 20px;

        img {
            @include transition(.4s);
        }
    }

    &:hover {
        color: $white;

        img {
            filter: invert(1);
        }

        &::before {
            width: 100%;
            height: 100%;
            right: 0;
            border-radius: 10px;
        }
    }

    @media #{$max-xs} {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.ht-btn {
    &.style-2 {
        padding-left: 50px;
        padding-right: 50px;
    }

    &.style-3 {
        border: 0;
        background: $theme-color;
        padding-left: 50px;
        padding-right: 50px;

        &::before {
            background: $white;
        }

        &:hover {
            color: $black;
        }
    }

    &.style-4 {
        padding-left: 30px;
        padding-right: 8px;

        .btn-icon {
            color: $title;
            width: 45px;
            height: 45px;
            background: $white;
            border-radius: 50%;
            position: absolute;
            right: 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

}