.theme-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    background: $theme-color;
    font-family: 'DM Sans', sans-serif;
    color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 20px 35px;
    
    i {
        margin-left: 10px;
        @include transition;
        color: $white;
    }

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $header-color;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    &:hover {
        color: $white;
        box-shadow: none;

        &::before {
            width: 100%;
        }
    }
}