.location-left-content {
    .location-text {
        margin-top: 20px;
    }

    ul {
        @include flex;
        gap: 30px;
        margin-top: 25px;

        @include breakpoint (max-lg){
            flex-wrap: wrap;
            gap: 20px;
        }

        li {
            img {
                margin-right: 10px;
            }
        }
    }

    .location-line {
        margin-top: 15px;

        h4 {
            img {
                margin-right: 10px;
            }
        }
    }

    .theme-btn {
        margin-top: 30px;
    }
}


.map-section-contact {
    margin-left: 40px;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    .google-map {
        iframe {
            width: 744px;
            height: 478px;
            border-radius: 10px;
        }
    }
}

.location-left-content-inner {
    .location-text {
        margin-top: 20px;
    }

    br {
        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .contact-list {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-top: 20px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 20px;
        }

        ul {
            li {
                span {
                    font-size: 16px;
                    font-weight: 500;
                    color: $header-color;
                }

                .social-icon {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    margin-top: 10px;

                    a {
                        width: 36px;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        display: inline-block;
                        border-radius: 50%;
                        border: 1px solid rgba(216, 221, 225, 1);
                        color: $header-color;

                        &:hover {
                            background-color: $theme-color;
                            color: $white;
                        }
                    }
                }

                p {
                    a {
                        color: $text-color;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }

                &:not(:last-child){
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.map-section-contact-inner {
    margin-left: 20px;

    @include breakpoint (max-xl){
        margin-left: 0;
    }

    .google-map {
        iframe {
            width: 100%;
            height: 478px;
            border-radius: 10px;
        }
    }
}


.contact-form-box {
    border-radius: 30px;
    background: rgba(245, 248, 253, 1);
    padding: 35px;
    border: 1px solid rgba(216, 221, 225, 1);

    @include breakpoint (max-md){
        padding: 28px;
    }

    h3 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 36px;
    }

    .form-clt {
        position: relative;

        .icon {
            position: absolute;
            right: 25px;
            top: 16px;
        }

        input,textarea {
            line-height: 1;
            padding: 20px 20px;
            width: 100%;
            text-transform: capitalize;
            color: $header-color;
            border-radius: 100px;
            border: 1px solid rgba(216, 221, 225, 1);
            background: $white;

            &::placeholder {
                color: $header-color;
            }
        }

        .single-select {
            line-height: 1;
            height: initial;
            padding: 20px 20px;
            width: 100%;
            text-transform: capitalize;
            color: $header-color;
            border-radius: 100px;
            border: 1px solid rgba(216, 221, 225, 1);
            background: $white;

            &::after {
                right: 25px;
            }

            .list {
                width: 100%;
            }

        }

        textarea {
            padding-bottom: 120px;
            border-radius: 30px;
        }
    }

    .contact-button {
        text-align: center;
    }
}