//course-style

.course-style-one,
.course-style-five {
    margin-bottom: 40px;
    border-radius: 20px;
    background: $white;
    position: relative;
    z-index: 1;
    @include transition(.4s);

    .course-thumb {
        position: relative;
        z-index: 1;
        min-height: 290px;
        width: 255px;
        overflow: hidden;
    }

    .front-img {
        border-radius: 20px 0 0 20px;
        @include transition(.4s);
    }

    .back-img {
        position: absolute;
        z-index: 3;
        left: 30px;
        border-radius: 0 0 115px 115px;
        width: 225px;
        height: 0px;
        transition: height 0.4s ease;
    }

    .course-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 26px;

        a {
            color: $title;
            @include transition(.4s);
        }
    }

    p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 30px;
        @include transition(.4s);
    }

    .more-btn {
        color: $title;
        font-size: 18px;
        font-weight: 600;
        font-family: $poppinsFont;
        border-bottom: 1.5px solid $title;
        @include transition(.4s);

        img {
            @include transition(.4s);
        }
    }

    .content {
        flex: 1;
        padding-left: 30px;
        padding-right: 38px;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    &:hover {
        background: $theme-color;

        .front-img {
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }

        .back-img {
            height: 260px;
        }

        .course-thumb {
            // img {
            //     border-radius: 0 0 115px 115px;
            //     height: 260px;
            // }
        }

        .course-title {
            a {
                color: $white;
            }
        }

        p {
            color: rgba(255, 255, 255, 0.7);
        }

        .more-btn {
            color: $white;
            border-bottom-color: $white;

            img {
                filter: invert(1);
            }
        }
    }

    @media #{$max-lg} {
        .course-title {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .content {
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        p {
            margin-bottom: 15px;
        }

        .course-thumb {
            min-height: 100%;
        }
    }

    @media #{$max-xs} {
        .course-thumb {
            width: 100%;
            border-radius: 20px;
            margin-bottom: 15px;

            img {
                border-radius: 20px;
                width: 100%;
            }
        }

        .content {
            padding-bottom: 30px;
        }
    }
}

.course-style-two {
    border-radius: 20px;
    border: 1.5px solid $hr-border-color;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    @include transition(.4s);

    .course-thumb {
        margin-bottom: 33px;

        img {
            width: 100%;
            border-radius: 20px 20px 0 0;
        }
    }

    .course-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 16px;

        a {
            color: $title;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }

    p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 30px;
        @include transition(.4s);
    }

    .more-btn {
        color: $white;
        font-size: 20px;
        font-family: $latoFont;
        font-weight: 600;
        background: $theme-color2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 25px;
        top: -3px;
        visibility: hidden;
        opacity: 0;
        @include transition(.4s);
    }

    .content {
        padding-left: 30px;
        padding-right: 60px;
        position: relative;
        z-index: 1;
    }

    &:hover {
        border-color: $theme-color;

        .more-btn {
            visibility: visible;
            opacity: 1;
        }
    }

    @media #{$max-lg} {
        .course-title {
            font-size: 24px;
        }

        .content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media #{$max-xs} {
        .more-btn {
            position: relative;
            z-index: 1;
            visibility: visible;
            opacity: 1;
            left: 0;
            margin-bottom: 30px;
        }
    }
}

.course-style-three {
    border-radius: 25px;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
    @include transition(.4s);

    .course-thumb {
        margin-bottom: 33px;

        img {
            width: 100%;
            border-radius: 25px;
        }
    }

    .course-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 16px;

        a {
            color: $white;
            @include transition(.4s);

            &:hover {
                color: $theme-color;
            }
        }
    }

    p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 30px;
        @include transition(.4s);
    }

    .more-btn {
        color: $white;
        font-size: 20px;
        font-family: $latoFont;
        font-weight: 600;
        background: $theme-color2;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        @include transition(.4s);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0px 0px 25px 25px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        padding-left: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%;
    }

    &:hover {
        .more-btn {
            visibility: visible;
            opacity: 1;
        }
    }

    @media #{$max-lg} {
        .course-title {
            font-size: 24px;
        }

        .content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media #{$max-xs} {}
}

.course-style-four {
    border: 1.5px solid transparent;
    margin-bottom: 40px;
    border-radius: 20px;
    background: $white;
    position: relative;
    z-index: 1;
    @include transition(.4s);

    .course-thumb {
        min-height: 290px;
        width: 255px;

        img {
            width: 100%;
            border-radius: 20px 0 0 20px;
            @include transition(.4s);
        }
    }

    .course-title {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 26px;

        a {
            color: $title;
            @include transition(.4s);
        }
    }

    p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 30px;
        @include transition(.4s);
    }

    .more-btn {
        color: $title;
        font-size: 18px;
        font-weight: 600;
        font-family: $poppinsFont;
        border-bottom: 1.5px solid $title;
        @include transition(.4s);

        img {
            @include transition(.4s);
        }
    }

    .content {
        flex: 1;
        padding-left: 30px;
        padding-right: 38px;
        padding-top: 40px;
        margin-bottom: 30px;
    }

    &:hover {
        border-color: $theme-color;

        .course-title {
            a {
                color: $theme-color;
            }
        }

        .more-btn {
            color: $theme-color;
            border-bottom-color: $theme-color;

            img {
                filter:
                    brightness(0) saturate(100%) invert(18%) sepia(70%) saturate(2910%) hue-rotate(349deg) brightness(89%) contrast(97%);
            }
        }
    }

    @media #{$max-lg} {
        .course-title {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .content {
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        p {
            margin-bottom: 15px;
        }

        .course-thumb {
            width: 220px;
            min-height: 100%;
        }
    }

    @media #{$max-xs} {
        .course-thumb {
            width: 100%;
            border-radius: 20px;
            margin-bottom: 15px;

            img {
                border-radius: 20px;
            }
        }

        .content {
            padding-bottom: 30px;
        }
    }
}

.course-style-five {
    background: $light-grey;
}