.faq-wrapper-2 {
    .faq-left-content {
        margin-right: 30px;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        .faq-page-items {
            margin-top: 60px;

            @include breakpoint (max-md){
                    margin-top: 30px;
            }
    
            .accordion-box {
                position: relative;
                border-bottom: 1px solid rgba(216, 221, 225, 1);
                padding-bottom: 10px;

                .block {
                    position: relative;
                    background-color: transparent;
                    line-height: 1;
                    border-top: 1px solid rgba(216, 221, 225, 1);
                    padding: 22px 0;

                    @include breakpoint (max-sm){
                        padding: 18px;
                    }

                    .acc-btn {
                        position: relative;
                        font-size: 24px;
                        color: $header-color;
                        font-weight: 600;
                        font-family: $heading-font;
                        cursor: pointer;
                        -webkit-transition: all 500ms ease;
                        transition: all 500ms ease;

                        @include breakpoint (max-sm){
                            font-size: 17px;
                            line-height: 1.5;
                            padding-right: 40px;
                        }


                        .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 30px;
                            height: 30px;
                            background-color: $header-color;
                            font-size: 16px;
                            line-height: 30px;
                            color: $white;
                            -webkit-transition: all 500ms ease;
                            transition: all 500ms ease;
                            text-align: center;
                            border-radius: 50%;
                        }
                    }

                    .acc-content {
                        position: relative;
                        display: none;
                        margin-top: 22px;

                        @include breakpoint (max-xxs){
                            margin-top: 10px;
                        }

                        .content {
                            position: relative;

                            .text {
                                line-height: 175%;
                                font-size: 16px;
                                font-weight: 400;
                                color: rgba(120, 128, 148, 1);
                                max-width: 605px;

                                @include breakpoint (max-xl){
                                    font-size: 14px;
                                }

                                @include breakpoint (max-xxs){
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }

            .accordion-box .block .acc-content.current {
                display: block;
            }

            .accordion-box .block .acc-btn.active .icon:before {
                content: "\f068";
                font-family: $fa;
            }

            .accordion-box .block .acc-btn.active {
                .icon {
                    background-color: $theme-color;
                }
            }

            .accordion-box .block:last-child {
                margin-bottom: 0;
            }
        }
    }

    .faq-right-thumb {
        position: relative;

        img {
            @include imgw;
            border-radius: 30px;
        }

        .support-text-area {
            background: #FFFFFF;
            border-radius: 50px 0px 0px 0px;
            padding: 40px;
            padding-bottom: 0;
            position: absolute;
            bottom: 0;
            right: 0;

            @include breakpoint (max-md){
                padding: 25px;
            }

            .icon {
                img {
                    width: initial;
                    height: initial;
                }
            }

            h3 {
                font-size: 74px;
                font-weight: 700;
                margin-top: 5px;

                 @include breakpoint (max-md){
                    font-size: 42px;
                }
            }

            p {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}