.experience-content {
    .experience-text {
        margin-top: 25px;
        color: $white;
    }

    .theme-btn {
        margin-top: 35px;
    }
}

.experience-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background: rgba(0, 13, 68, 0.3);
        z-index: -1;
    }

    .shape-bg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.feature-box-items {
    box-shadow: (0px 9px 30px rgba(0, 0, 0, 0.1));
    background-color: $white;
    padding: 40px 30px;
    text-align: center;
    position: relative;
    border-radius: 30px;
    margin-top: 30px;

    .box-shape {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            @include imgw;
        }
    }

    .icon {
        background-color: $theme-color;
        width: 64px;
        height: 64px;
        text-align: center;
        line-height: 64px;
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        img {
            @include transition;
            display: inline-block;
        }
    }

    .content {
        margin-top: 30px;
        position: relative;
        z-index: 1;

        p {
            margin-top: 10px;
        }

        .link-btn {
            color: $header-color;
            margin-top: 20px;
            display: inline-block;
            @include transition;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            font-family: $heading-font;

            i {
                margin-left: 7px;
            }

            &:hover {
                color: $theme-color;
            }
        }
    }

    &:hover {
        .icon {
            img {
                transform: scaleX(-1) !important;
            }
        }
    }
}

.reasons-wrapper {
    .reasons-left-video-thumb {
        position: relative;

        @include breakpoint (max-xl4){
            height: 755px;
        }

        @include breakpoint (max-xl){
            height: 500px;
        }

        img {
            @include imgw;
            object-fit: cover;
        }

        .video-btn {
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            background: $white;
            color: $theme-color;
            text-align: center;
            border-radius: 100%;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            z-index: 9;
        }
    }

    .reasons-right-content {
        margin-left: 40px;
        position: relative;

        @include breakpoint (max-xl){
            margin-right: 30px;
        }

        .reasons-bg-shape {
            position: absolute;
            top: -15%;
            left: -73%;
        }

        .reasons-text {
            margin-top: 25px;
            max-width: 569px;
            color: $white;
        }

        .list-items {
            @include flex;
            gap: 80px;
            margin-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            ul {
                li {
                    font-size: 18px;
                    font-weight: 500;
                    color: $white;

                    &:not(:last-child) {
                            margin-bottom: 20px;
                        }

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        .counter-items-area {
            margin-top: 55px;
            @include flex;
            gap: 65px;

             @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            @include breakpoint (max-md){
                margin-top: 30px;
            }

            .counter-items {
                text-align: center;

                .icon {
                    position: relative;

                    h2 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: $white;
                        transform: translate(-50% ,-50%);
                        font-size: 36px;
                    }
                }

                h5 {
                    color: $white;
                    margin-top: 30px;
                }
            }
        }
    }
}

.reasons-feature-section {
    position: relative;

    @include breakpoint (max-xl){
        padding-bottom: 100px;
    }

    @include breakpoint (max-lg){
        padding-bottom: 80px;
    }

    .shape-1 {
        position: absolute;
        bottom: 0;
        right: 50px;
    }
}

.feature-dream-wrapper-2 {
    .feature-dream-thumb {
        img {
            @include imgw;
        }
    }

    .feature-dream-content {
        margin-left: 50px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .feature-dream-list {
            border-top: 1px solid rgba(216, 221, 225, 1);
            padding-top: 25px;
            margin-top: 25px;

            li {
                h5 {
                    img {
                        margin-right: 10px;
                    }
                }

                p {
                    margin-top: 10px;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.feature-award-wrapper {
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 30px;
    }

    .feature-award-wrap {
        @include flex;
        gap: 32px;

         @include breakpoint (max-md){
            margin-left: 30px;
        }

        .number {
            font-size: 65px;
            font-weight: 700;
            font-family: $heading-font;
            color: #788094;
            @include transition;
            writing-mode: vertical-rl;
            transform: rotate(180deg);

             @include breakpoint (max-md){
                font-size: 50px;
            }
        }

        .feature-award-items {
            .icon {
                img {
                    transition: all 0.4s ease-in-out;
                    display: inline-block;
                }
            }

            h3 {
                font-size: 36px;
                margin-top: 20px;
                max-width: 194px;

                @include breakpoint (max-lg){
                    font-size: 28px;
                }

                 @include breakpoint (max-md){
                    font-size: 24px;
                }
            }

            &:hover {
                .icon {
                    img {
                        transform: scaleX(-1) !important;
                    }
                }
            }
        }
    }

    .line {
        background: rgba(216, 221, 225, 1);
        height: 160px;
        width: 1px;
        margin-left: 20px;
        display: inline-block;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}



