//feedback-wrapper-one

.feedback-wrap-one {
    padding-left: 20px;
    padding-right: 119px;

    .feedback-rating {
        a {
            color: $theme-color;
            font-size: 24px;
            margin-right: 6px;
        }
    }

    .feedback-text {
        font-size: 30px;
        font-family: $latoFont;
        font-weight: 600;
        color: $title;
        line-height: 160%;
        letter-spacing: -0.6px;
        margin-top: 40px;
        margin-bottom: 84px;
    }

    .name {
        color: $heding;
        font-size: 24px;
        font-weight: 500;
        font-family: $poppinsFont;
        margin-bottom: 0;
    }

    .designation {
        color: $body-text-color;
        font-size: 18px;
        font-family: $latoFont;
        font-weight: 400;
    }

    .flag-box {
        display: inline-flex;
        position: relative;
        z-index: 1;
    }

    .rating-number {
        background: $theme-color2;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: -20px;
        position: relative;
        z-index: 1;
        border: 5px solid $light-grey;

        i {
            color: $yellow-color;
            font-size: 14px;
        }

        .number {
            color: $white;
            font-weight: 600;
            font-family: $poppinsFont;
            font-size: 20px;
            line-height: 1;

        }
    }

    .author-country {
        border-radius: 50%;
        border: 5px solid $light-grey;
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 2;
    }

    @media #{$max-laptop} {
        padding-right: 30px;

    }

    @media #{$max-lg} {
        padding-right: 30px;

        .feedback-text {
            font-size: 24px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }


    @media #{$max-md} {
        margin-top: 30px;
    }

    @media #{$max-xs} {
        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }

        .name {
            font-size: 18px;
        }
    }
}

.feedback-background-one {
    background: $light-grey;
    border-radius: 30px;
}

.feedback-slider-thumb {
    .author-avatar {
        img {
            width: 100%;
            border-radius: 30px 0 0 30px;
        }
    }
}

.feedback-wrap-two {
    padding-left: 12px;
    padding-right: 84px;

    .feedback-rating {
        a {
            color: $theme-color;
            font-size: 24px;
            margin-right: 6px;
        }
    }

    .feedback-text {
        font-size: 30px;
        font-family: $latoFont;
        font-weight: 600;
        color: $title;
        line-height: 160%;
        letter-spacing: -0.44px;
        margin-top: 35px;
        margin-bottom: 80px;
    }

    .name {
        color: $heding;
        font-size: 24px;
        font-weight: 500;
        font-family: $poppinsFont;
        margin-bottom: 0;
    }

    .designation {
        color: $body-text-color;
        font-size: 18px;
        font-family: $latoFont;
        font-weight: 400;
    }


    @media #{$max-lg} {
        padding-left: 0;
        padding-right: 0;

        .feedback-text {
            font-size: 24px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }


    @media #{$max-md} {
        margin-top: 30px;
    }

    @media #{$max-xs} {

        .feedback-text {
            font-size: 20px;
        }

        .name {
            font-size: 18px;
        }
    }
}


.author-avatar-two {

    .rating-number {
        background: $theme-color2;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -40px;
        top: -40px;
        z-index: 1;
        border: 10px solid $light-grey;

        i {
            color: $yellow-color;
            font-size: 24px;
        }

        .number {
            color: $white;
            font-weight: 600;
            font-family: $poppinsFont;
            font-size: 32px;
            line-height: 1;
            margin-top: 10px;
        }
    }

    img {
        border-radius: 30px;
        max-width: 100%;
    }

    .author-img {
        margin-left: 57px;
        margin-top: 70px;
        margin-bottom: 70px;
        display: inline-block;
        position: relative;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            width: 90%;
            height: 91%;
            border-radius: 30px;
            display: inline-block;
            border: 2px solid $theme-color;
            z-index: -1;
            left: 70px;
            top: 70px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 186px;
            height: 189px;
            border-radius: 15px;
            background: $theme-color;
            display: inline-block;
            z-index: -1;
            left: -50px;
            top: -50px;
        }
    }


    @media #{$max-lg} {
        .author-img {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;

            &::before,
            &::after {
                display: none;
            }
        }

        .rating-number {
            right: 0;
            top: 0;
        }
    }

    @media #{$max-xs} {}
}

.feedback-wrap-three {
    padding-right: 139px;

    .feedback-rating {
        a {
            color: $theme-color;
            font-size: 24px;
            margin-right: 6px;
        }
    }

    .feedback-text {
        font-size: 30px;
        font-family: $latoFont;
        font-weight: 600;
        color: $title;
        line-height: 160%;
        letter-spacing: -0.6px;
        margin-top: 30px;
        margin-bottom: 49px;
    }

    .name {
        color: $heding;
        font-size: 24px;
        font-weight: 500;
        font-family: $poppinsFont;
        margin-bottom: 0;
    }

    .designation {
        color: $body-text-color;
        font-size: 18px;
        font-family: $latoFont;
        font-weight: 400;
    }

    .flag-box {
        display: inline-flex;
        position: relative;
        z-index: 1;
    }

    .rating-number {
        background: $theme-color2;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: -20px;
        position: relative;
        z-index: 1;
        border: 5px solid $light-grey;

        i {
            color: $yellow-color;
            font-size: 14px;
        }

        .number {
            color: $white;
            font-weight: 600;
            font-family: $poppinsFont;
            font-size: 20px;
            line-height: 1;

        }
    }

    .author-country {
        border-radius: 50%;
        border: 5px solid $light-grey;
        width: 70px;
        height: 70px;
        position: relative;
        z-index: 2;
    }

    @media #{$max-laptop} {
        padding-right: 30px;

    }

    @media #{$max-lg} {
        padding-right: 30px;

        .feedback-text {
            font-size: 24px;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }


    @media #{$max-md} {}

    @media #{$max-xs} {
        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }

        .name {
            font-size: 18px;
        }
    }
}

.author-avatar-three {
    img {
        display: inline-block;
    }

    @media #{$max-xs} {
        img {
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
        }
    }
}

.feedback-background-three {
    padding: 80px 80px;

    @media #{$max-xs} {
        padding-left: 0;
        padding-right: 0;
    }
}


.feedback-section {
    .shape-1 {
        top: -45%;
    }

    .shape-f2a {
        top: -8%;
    }

}

.feedback-wrap-four {
    border-radius: 30px;
    border: 1.5px solid $hr-border-color;
    padding: 45px 55px 47px 55px;
    margin-bottom: 40px;
    margin-top: 65px;

    .quote-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $theme-color2;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 4px solid $white;
        margin-right: -25px;
        position: relative;
        z-index: 2;
    }

    .author {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: -105px;
        margin-bottom: 43px;
        position: relative;
        z-index: 2;

        img {
            display: inline-block;
        }
    }

    .name {
        color: $heding;
        font-size: 24px;
        font-weight: 500;
        font-family: $poppinsFont;
        margin-bottom: 2px;
    }

    .designation {
        color: $body-text-color;
        font-size: 18px;
        font-family: $latoFont;
        font-weight: 400;
        margin-bottom: 0;
    }

    .feedback-text {
        color: $heding;
        font-size: 30px;
        font-weight: 500;
        font-family: $poppinsFont;
        line-height: 1.6;
        letter-spacing: -0.6px;
        margin-bottom: 55px;
        margin-top: 23px;
    }


    .feedback-rating {
        a {
            color: $theme-color;
            font-size: 25px;
            margin-right: 7px;
        }
    }

    .flag-box {
        display: inline-block;
        position: relative;
        z-index: 1;

        img {
            display: inline-block;
        }
    }

    .author-country {
        border-radius: 50%;
        border: 4px solid $white;
        width: 60px;
        height: 60px;
    }

    @media #{$max-laptop} {
        padding-left: 25px;
        padding-right: 25px;


        .feedback-text {
            font-size: 24px;
        }
    }

    @media #{$max-lg} {
        .feedback-text {
            margin-bottom: 30px;
        }

        .name {
            font-size: 20px;
        }
    }

    @media #{$max-xs} {

        padding-left: 15px;
        padding-right: 15px;

        .feedback-text {
            font-size: 20px;
        }
    }
}

.feedback-wrap-five {
    position: relative;
    z-index: 1;
    background: $light-grey;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 50px;

    .feedback-content {
        margin-left: 25px;
        flex: 1;
    }

    .author-avatar {
        img {
            border-radius: 15px;
        }
    }

    .feedback-text {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        font-family: $poppinsFont;
        line-height: 1.41;
        margin-bottom: 55px;
    }

    .rating {
        a {
            color: $theme-color;
            font-size: 20px;
            margin-right: 8px;
            display: inline-block;
        }
    }

    .name {
        color: $black;
        font-size: 20px;
        font-weight: 500;
        font-family: $poppinsFont;
        line-height: 1.4;
        margin-bottom: 3px;
        margin-top: 25px;
        letter-spacing: normal;
    }

    .designation {
        color: $body-text-color;
        font-size: 18px;
        font-weight: 400;
        font-family: $latoFont;
        letter-spacing: normal;
    }

    @media #{$max-xs} {
        .author-avatar {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }

        .feedback-content {
            margin-left: 0;
        }
    }
}