.footer-section {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
        background: rgba(0, 13, 68, 0.9);
        z-index: -1;
    }
}

.footer-wrappper {
    padding: 70px 0 100px;

     .footer-widget-items {
        margin-top: 30px;

        .widget-head {
            margin-bottom: 30px;

            h3 {
                font-size: 24px;
                font-weight: 600;
                color: $white;
            }

            .line {
                width: 75px;
                height: 1px;
                background-color: $theme-color;
                margin-top: 15px;
            }
        }

        .footer-content {
            margin-top: 30px;

            p {
                color: $white;
                max-width: 350px;
            }

            .social-icon {
                @include flex;
                gap: 14px;
                margin-top: 30px;

                a {
                    width: 36px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    display: inline-block;
                    border-radius: 50%;
                    border: 1px solid $white;
                    color: $white;
                   
                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                        border: 1px solid $theme-color;
                    }
                }
            }
        }

        .list-area {
            li {
                @include transition;
                font-size: 16px;
                font-weight: 400;

                i {
                   margin-right: 9px;
                   font-size: 14px;
                   color: $white;
                   @include transition;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }

                a {
                    color: $white;
                }

                &:hover {
                    margin-left: 5px;

                    i {
                        color: $theme-color;
                    }

                    a {
                        color: $theme-color;
                    }
                }
            }
        }

        .icon-area {
            li {
                @include flex;
                gap: 30px;

                .icon {
                    width: 62px;
                    height: 62px;
                    line-height: 62px;
                    text-align: center;
                    background-color: $theme-color;
                    border: 3px solid $white;
                    border-radius: 50%;
                }

                .content {
                    p {
                        color: $white;
                        margin-bottom: 5px;
                    }

                    a {
                        color: $white;
                        font-size: 20px;
                        font-weight: 600;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }

                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }

        .recent-post {
            li {
                display: flex;
                align-items: center;
                gap: 20px;

                .thumb {
                    img {
                        border-radius: 8px;
                    }
                }

                .content {
                    p {
                        color: $white;

                        i {
                            margin-right: 5px;
                        }
                    }

                    h4 {
                        font-size: 16px;
                        font-weight: 600;
                        margin-top: 8px;

                        a {
                            color: $white;

                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }


                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
        }
    }
}

.footer-bottom {
    background: $theme-color;
    position: relative;
    z-index: 9;
    padding: 15px 0;

    .footer-bottom-wrapper {
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-lg){
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
            text-align: center;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: $white;
        }

        .footer-menu {
            @include flex;
            gap: 25px;

            li {
                a {
                    color: $white;
                    background-image: linear-gradient($white,$white);
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline-block;
                    @include transition;
                    font-weight: 500;

                    &:hover {
                        background-size: 100% 1px;
                        color: $white;
                    }
                }
            }
        }
    }
}