//main-header-area
.main-header-area {
	position: relative;
	width: 100%;
	left: 0;
	z-index: 999;
}

.offset-sidebar {
	display: block;
	margin-top: 30px;
}

//theme-main-menu
.theme-main-menu {

	.bs-btn {
		color: $white;
		font-size: 18px;
		font-weight: 600;
		border-radius: 30px;
		font-family: $poppinsFont;
		line-height: 1;
		background: $theme-color;
		display: inline-block;
		padding: 20px 47px 20px 47px;

		&:hover {
			background: $theme-color2;
		}
	}

	.ht-promo,
	.ht-phone,
	.ht-email {
		color: $heding;
		font-size: 18px;
		font-family: $latoFont;
		font-weight: 400;
		padding-right: 10px;
		margin-right: 10px;
		display: inline-block;
		position: relative;
		z-index: 1;
	}

	.ht-promo {
		font-family: $poppinsFont;

		span {
			color: rgba(0, 0, 0, 0.6);
		}
	}

	.hamburger-menu {
		width: 60px;
		height: 60px;
		border: 1.5px solid rgba(0, 0, 0, 1);
		border-radius: 100%;
		margin-left: 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		-webkit-transition: all 0.3s linear 0s;
		-moz-transition: all 0.3s linear 0s;
		-o-transition: all 0.3s linear 0s;
		transition: all 0.3s linear 0s;

		.bar-wrap {
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			gap: 5px;

			.bar-1 {
				width: 20px;
				height: 2px;
				background: $heding;
				border-radius: 50px;
			}

			.bar-2 {
				width: 16px;
				height: 2px;
				background: $heding;
				border-radius: 50px;
			}

			.bar-3 {
				width: 20px;
				height: 2px;
				background: $heding;
				border-radius: 50px;
			}
		}

		&:hover {
			background: $theme-color;
			color: $white;
		}

		@media #{$max-xs} {
			width: 50px;
			height: 50px;

			.bar-wrap {
				.bar-1 {
					width: 16px;
				}

				.bar-2 {
					width: 12px;
				}

				.bar-3 {
					width: 16px;
				}
			}
		}
	}
}

.header-social {
	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		color: $white;
		font-size: 20px;
		text-align: center;
		line-height: 50px;
		border: 1px solid $white;
		margin: 0 5px;

		&:hover {
			color: $white;
			background: $theme-color2;
			border-color: $theme-color2;
		}
	}
}

.header-social-links {
	a {
		color: $title;
		font-size: 18px;
		font-weight: 400;
		font-family: $latoFont;
		display: inline-block;
		padding-right: 8px;
		margin-right: 8px;
		position: relative;
		z-index: 1;

		&:last-child {
			margin-right: 0;
			padding-right: 0;

			&::after {
				display: none;
			}
		}

		&::after {
			content: '';
			position: relative;
			z-index: 1;
			display: inline-block;
			width: 10px;
			height: 1px;
			background: $title;
			right: -27%;
			top: 0;
			transform: translateY(-5px);
		}

		&:hover {
			color: $theme-color;
		}
	}
}

//main-menu
.main-menu {
	position: relative;
	z-index: 11;

	ul {
		padding: 0;
		margin: 0;

		& li {
			list-style: none;
			position: relative;
			z-index: 1;
			display: inline-block;
			margin: 0 26px 0 26px;

			@media #{$max-laptop} {
				margin: 0 28px 0 0;
			}

			&:last-child {
				margin-right: 0;

				& a {
					margin-right: 0;

					&::before {
						display: none;
					}
				}
			}

			&.active {
				color: $heding;

				& a {
					color: $heding;
				}
			}

			& a {
				color: $heding;
				font-family: $latoFont;
				font-size: 20px;
				font-weight: 500;
				line-height: 1;
				display: inline-block;
				position: relative;
				padding: 19px 0 20px 0;

				&::before {
					content: "\F282";
					font-family: "bootstrap-icons";
					font-weight: 700;
					position: absolute;
					font-size: 16px;
					right: -18px;
					top: 22px;
					z-index: 1;
					@include transition(0.3s);

					@media #{$lg} {
						display: none;
					}
				}

				&::after {
					display: none;
				}

				&:hover {
					color: $theme-color;
				}

				& i {
					font-size: 10px;
				}
			}

			&:hover {

				&>a {
					color: $theme-color;
				}
			}

			& ul.sub-menu {
				border: 0;
				position: absolute;
				z-index: 5;
				background: $white;
				border-radius: 0;
				display: block;
				right: 0;
				left: 0;
				padding: 0;
				top: 100%;
				visibility: hidden;
				transform: scaleY(0);
				opacity: 0;
				min-width: 170px;
				box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.05);
				margin: 0;
				transform-origin: 0 0;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-ms-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&.mega-menu {
					min-width: 600px;
				}

				& li {
					display: block;
					position: relative;
					z-index: 1;
					margin-right: 0;
					margin-left: 0;

					ul.sub-menu {
						position: absolute;
						right: 0;
						left: 100%;
						top: 0;
					}

					& a {
						color: $heding;
						font-size: 16px;
						font-family: $latoFont;
						font-weight: 500;
						padding: 14px 25px;
						display: block;
						transition: all 0.3s ease-in-out;
						width: 100%;
						@include transition(0.3s);

						&::before {
							display: none;
						}

						.sub-menu-arrow {
							float: right;
						}

						&.active {
							// color: $white;
							background-color: transparent;
						}

						&:hover {
							// color: $white;
							background-color: transparent;
							transform: translateX(5px);
							text-decoration: underline;
						}
					}
				}
			}

			&:hover {
				&>.sub-menu {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
					-webkit-transform: scale(1);
					-moz-transform: scale(1);
					-ms-transform: scale(1);
					-o-transform: scale(1);
				}
			}
		}
	}
}

//sticky-menu
.sticky-menu {
	position: fixed;
	// width: 100%;
	background: $white;
	top: 0;
	animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
	@include transition(0.4s);
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	padding-top: 0;
	padding-bottom: 0;
}

.search-area {
	margin-right: 15px;

	.search-input {
		border-color: $white;
		background: $white;

		&:hover {
			color: $title;
			background: $theme-color;
		}

		@media #{$max-xs} {
			width: 50px;
			height: 50px;
			line-height: 50px;
		}
	}
}

//theme-menu-one
.theme-menu-one {
	position: relative;
	z-index: 999;

	.ht-promo,
	.ht-email,
	.ht-phone {
		margin-right: 0;
		padding-right: 0;
	}

	.header-top {
		background: $light;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 185px;
		padding-right: 185px;
		position: relative;
		z-index: 1010;


		ul.topbar-content {
			padding: 0;
			margin: 0;
			list-style: none;
			gap: 69px;

			li {
				position: relative;
				z-index: 1;

				&:last-child {
					&::before {
						display: none;
					}
				}

				&::before {
					content: '';
					position: absolute;
					top: 7px;
					right: 0;
					background: $title;
					width: 1px;
					height: 20px;
				}

				&:first-child {
					&::before {
						right: -31%;
					}
				}

				&:nth-child(2) {
					&::before {
						right: -25%;
					}
				}

				&:nth-child(3) {
					&::before {
						right: -27%;
					}
				}

				&:nth-child(4) {
					&::before {
						right: -45%;
					}
				}
			}
		}

	}

	.main-header-area {
		padding: 20px 185px;
		position: absolute;

		&::before {
			content: '';
			position: absolute;
			width: 90%;
			right: 0;
			top: 0;
			height: 100px;
			z-index: -1;
			background: $white;
			border-radius: 0 0 0 50px;
		}

		.logo-area {
			padding-left: 42px;
		}

		&.sticky-menu {
			position: fixed;

			&::before {
				display: none;
			}
		}
	}

	.sticky-menu {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.select-language {
		select {
			border: 0;
			background: transparent;
		}

		.icon {
			color: $title;
		}

		.form-select {
			color: $title;
			font-size: 18px;
			font-weight: 500;
		}

		&::after {
			color: $title;
		}
	}

	.search-area {
		.search-input {
			color: $title;
			border-color: $hr-border-color;
			background: transparent;

			&:hover {
				color: $white;
				background: $theme-color;
				border-color: $theme-color;
			}
		}
	}

	.cart-menu {
		.shopping-cart {
			&:hover {
				color: $white;
				background: $theme-color;
				border-color: $theme-color;
			}
		}
	}

	.main-menu {
		ul {
			li {
				a {
					color: $black;
				}
			}
		}
	}

	.hamburger-menu {
		border-color: $theme-color;
		background: $theme-color;

		.bar-wrap {

			.bar-1,
			.bar-2,
			.bar-3 {
				background: $white;
			}
		}

		&:hover {
			background: $theme-color2;
			border-color: $theme-color2;
		}
	}

	.call-btn {
		.icon {
			color: $title;
			font-size: 22px;
			width: 60px;
			height: 60px;
			display: inline-block;
			border-radius: 50%;
			border: 1.5px solid $hr-border-color;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		a {
			font-size: 20px;
			font-weight: 700;
			font-family: $latoFont;
			line-height: 1;
		}
	}


	@media #{$max-xl} {

		.header-top {
			padding-left: 0;
			padding-right: 0;
		}

		.main-header-area {
			padding-left: 0;
			padding-right: 0;

			&::before {
				width: 100%;
			}

			.logo-area {
				padding-left: 0;
			}
		}
	}

	@media #{$max-lg} {
		.logo-area {
			img {
				width: 80%;
			}
		}
	}

	@media #{$max-xs} {
		.logo-area {
			img {
				width: 100%;
			}
		}
	}
}

//theme-menu-two
.theme-menu-two {
	background: transparent;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 999;

	.header-top {
		position: relative;
		z-index: 50;
	}

	.topbar-content {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.cart-menu {
		.shopping-cart {
			color: $black;
			background: white;
			border: 1.5px solid $white;

			span {
				background: $theme-color2;
			}

			&:hover {
				color: $white;
				background: $theme-color2;
				border-color: $theme-color2;
			}
		}
	}

	.hamburger-menu {
		background: $white;
		border-color: $white;

		.bar-wrap {

			.bar-1,
			.bar-2,
			.bar-3 {
				background: $black;
			}
		}
	}

	.search-area {
		.search-input {
			border-color: $white;

			&:hover {
				color: $white;
				border-color: $theme-color2;
				background: $theme-color2;
			}
		}
	}

	.bs-btn {

		background: $theme-color2;

		&:hover {
			color: $title;
			background: $white;
		}
	}

	.logo {
		display: inline-block;
		visibility: visible;
		@include transition(.4s);
	}

	.sticky-logo {
		display: none;
		visibility: hidden;
		@include transition(.4s);
	}

	.main-header-area {
		padding: 28px 30px 28px 30px;
		background: $theme-color;
		border-radius: 0 0 60px 60px;
		max-width: 1520px;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 10;

		&.sticky-menu {
			position: fixed;
			padding-top: 10px;
			padding-bottom: 10px;

			.logo {
				display: none;
				visibility: hidden;
				@include transition(.4s);
			}

			.sticky-logo {
				display: inline-block;
				visibility: visible;
				@include transition(.4s);
			}

		}
	}


	.main-menu {
		ul {
			li {
				a {
					color: $white;
				}

				ul.sub-menu li a {
					font-family: $latoFont;
				}
			}
		}
	}


	@media #{$max-laptop} {

		.topbar,
		.main-header-area {
			padding: 15px 15px;
		}
	}

	@media #{$max-xs} {
		.logo-area {
			img {
				max-width: 100%;
			}
		}
	}
}

//theme-menu-three
.theme-menu-three {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;


	.search-area {
		.search-input {
			background: transparent;

			&:hover {
				color: $black;
				border-color: $theme-color;
			}
		}
	}

	.cart-menu {
		.shopping-cart {
			color: $black;
			border-color: $white;
			background: $white;

			&:hover {
				color: $white;
				border-color: $theme-color2;
				background: $theme-color2;
			}

			span {
				background: $theme-color2;
			}
		}
	}

	.logo {
		display: inline-block;
		visibility: visible;
		@include transition(.4s);
	}

	.sticky-logo {
		display: none;
		visibility: hidden;
		@include transition(.4s);
	}

	.select-language {
		&::after {
			color: $black;
			font-size: 17px;
			right: 4px;
		}

		.form-select {
			color: $black;
			font-size: 20px;
			font-weight: 500;
		}
	}


	.hamburger-menu {
		border-color: $white;
		background: $white;
	}


	.main-header-area {
		background: transparent;
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);

		&.sticky-menu {
			background: $white;
			padding-top: 10px;
			padding-bottom: 10px;
			border: 0;
			margin-top: 0;

			.hamburger-menu {
				border-color: $theme-color2;
				background: $theme-color2;

				.bar-wrap {

					.bar-1,
					.bar-2,
					.bar-3 {
						background: $white;
					}
				}
			}

			.header-social {
				a {
					color: $theme-color2;
					border-color: $theme-color2;

					&:hover {
						color: $white;
					}
				}
			}

			.main-menu {
				ul {
					li {
						a {
							color: $body-text-color;
						}
					}
				}
			}

			.logo {
				display: none;
				visibility: hidden;
				@include transition(.4s);
			}

			.sticky-logo {
				display: inline-block;
				visibility: visible;
				@include transition(.4s);
			}

			.cart-menu {
				.shopping-cart {
					color: $white;
					border-color: $theme-color2;
					background: $theme-color2;

					&:hover {
						color: $white;
						border-color: $theme-color2;
						background: $theme-color2;
					}

					span {
						background: $theme-color2;
					}
				}
			}
		}
	}

	.main-menu {
		ul {
			li {
				a {
					color: $white;
				}

				&:hover {

					&>a {
						color: $theme-color;
					}
				}
			}
		}
	}


	@media #{$max-lg} {

		.main-menu ul li {
			margin: 0 20px 0 0;

			a {
				font-size: 18px;
			}
		}

	}

	@media #{$max-md} {}

	@media #{$max-xs} {

		.hamburger-menu {
			margin-left: 12px;
		}

		.logo-area {
			img {
				max-width: 100%;
			}
		}
	}
}

//theme-menu-four
.theme-menu-four {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	position: relative;
	left: 0;
	right: 0;
	z-index: 999;

	.header-top {
		padding-top: 9px;
		padding-bottom: 9px;
		padding-left: 155px;
		padding-right: 155px;
		background: $theme-color2;

		.ht-promo,
		.ht-phone,
		.ht-email {
			color: $white;
			font-size: 18px;
			font-family: $latoFont;
			font-weight: 500;

			span {
				color: rgba(255, 255, 255, 0.7);
			}
		}
	}

	.main-header-area {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 155px;
		padding-right: 155px;
	}

	.hamburger-menu {
		border-color: $black;
		background: $white;
	}

	.cart-menu {
		.shopping-cart {
			color: $heding;
			background: $white;
			border-color: $black;

			span {
				background: $theme-color;
			}

			&:hover {
				color: $white;
				border-color: $theme-color;
				background: $theme-color;
			}
		}
	}

	.search-area {
		.search-input {
			color: $black;
			background: $white;
			border-color: $black;

			&:hover {
				color: $black;
				border-color: $theme-color;
				background: $theme-color;
			}
		}
	}

	.bs-btn {
		color: $title;
		padding: 20px 50px 20px 50px;
		border-radius: 40px;
		background: $theme-color;

		&::before {
			background: $theme-color;
		}

		&:hover {
			color: $white;
			background: $theme-color2;
		}
	}


	@media #{$max-laptop} {
		margin-left: 0;
		margin-right: 0;

		.main-header-area,
		.header-top {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media #{$max-xs} {
		.logo-area {
			img {
				max-width: 100%;
			}
		}

		.hamburger-menu {
			margin-left: 0;
		}
	}
}

//theme-menu-five
.theme-menu-five {
	background: $white;
	border-radius: 60px;
	position: absolute;
	z-index: 999;
	top: 30px;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 1520px;
	margin: 0 auto;

	.logo {
		display: inline-block;
		visibility: visible;
		@include transition(.4s);
	}

	.sticky-logo {
		display: none;
		visibility: hidden;
		@include transition(.4s);
	}

	.cart-menu {
		.shopping-cart {
			color: $black;
			border: 2px solid $black;
			background: $white;

			span {
				background: $theme-color2;
			}

			&:hover {
				color: $white;
				background: $theme-color2;
				border-color: $theme-color2;
			}
		}
	}

	.hamburger-menu {
		background: transparent;
		border: 2px solid $theme-color2;

		.bar-wrap {

			.bar-1,
			.bar-2,
			.bar-3 {
				background: $theme-color2;
			}
		}
	}

	.main-header-area {
		padding: 18px 0;


		.logo {
			display: inline-block;
			@include transition(.4s);
		}

		.sticky-logo {
			display: none;
			visibility: hidden;
			@include transition(.4s);
		}

		&.sticky-menu {
			padding-top: 10px;
			padding-bottom: 10px;

			.logo {
				display: none;
			}

			.sticky-logo {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	.search-area {
		.search-input {

			&:hover {
				border-color: $theme-color;
				background: $theme-color;
			}
		}
	}

	.bs-btn {
		color: $white;
		padding: 20px 50px 20px 50px;
		border-radius: 40px;
		background: $theme-color;

		&::before {
			background: $theme-color;
		}

		&:hover {
			color: $white;
			background: $theme-color2;
		}
	}

	@media #{$max-laptop} {

		.header-top,
		.main-header-area {
			padding-left: 10px;
			padding-right: 10px;
		}

	}

	@media #{$max-lg} {

		.main-header-area {
			.logo {
				display: none;
			}

			.sticky-logo {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	@media #{$max-xs} {
		.logo-area {
			img {
				max-width: 100%;
			}
		}
	}
}

.theme-menu-six {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 999;

	.main-header-area {
		background: $white;
		padding: 20px 25px 20px 40px;
		border-radius: 0 0 50px 50px;
	}

	.search-area {
		.search-input:hover {
			border-color: $theme-color;
		}
	}

	.quote-btn {
		margin-right: 20px;
	}

}

.select-language {
	display: flex;
	position: relative;
	z-index: 1;




	img {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		font-size: 18px;
		color: $title;
		margin-right: 5px;
		border-radius: 50%;
	}



	select.form-select {
		background: transparent;
		border: 0;
		color: $title;
		padding: 0;
		padding-right: 20px;
		position: relative;
		z-index: 3;
	}

	select {
		padding-right: 5px;
		border: 0;
		-moz-appearance: none;
		-webkit-appearance: none;

		&:focus-visible {
			border: 0;
			outline: 0;
		}

		span {
			border-radius: 50%;
			width: 18px;
			height: 18px;
		}
	}

	.form-select:focus {
		box-shadow: none;
	}
}

.topbar-content {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;

	.ht-email,
	.ht-promo,
	.ht-phone {
		margin-right: 0;
		padding-right: 0;
	}

	li {
		position: relative;
		z-index: 1;

		&:last-child {
			&::before {
				display: none;
			}
		}

		&:first-child {
			&::before {
				right: -30%;
			}
		}

		&:nth-child(2) {
			&::before {
				right: -25%;
			}
		}

		&:nth-child(3) {
			&::before {
				right: -25%;
			}
		}

		&:nth-child(4) {
			&::before {
				right: -35%;
			}
		}

		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 8px;
			width: 1px;
			height: 20px;
			background: $title;
			z-index: 1;
		}

		@media #{$max-laptop} {
			&::before {
				display: none;
			}
		}
	}
}


.language-selector {
	position: relative;
	display: inline-block;
	font-family: sans-serif;

	.dropdown-toggle {
		background: transparent;
		border: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 8px;
		padding-right: 18px;

		&::after {
			display: none;
		}

		&::before {
			content: "\f282";
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translateY(-48%);
			font-family: "bootstrap-icons";
			font-size: 15px;
			color: $title;
		}
	}


	.dropdown-toggle img {
		width: 18px;
		height: 18px;
		border-radius: 50%;
	}




	.dropdown-menu {
		position: absolute;
		top: 120%;
		left: 0;
		background: #fff;
		border: 1px solid #ccc;
		list-style: none;
		padding: 6px 0;
		margin: 0;
		display: inline-block;
		z-index: 1000;
		width: 100%;
		min-width: 100px;
		opacity: 0;
		visibility: hidden;
		@include transition(.4s);
	}

	.dropdown-menu li {
		padding: 3px 12px;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 8px;

		&::before {
			display: none;
		}
	}

	.dropdown-menu li:hover {
		background-color: #f0f0f0;
	}

	&.open .dropdown-menu {
		display: block;
	}

	&:hover {
		.dropdown-menu {
			opacity: 1;
			visibility: visible;
			top: 110%;
		}
	}
}