.service-section {
    padding-left: 95px;
    padding-right: 95px;

    @include breakpoint (max-xl4){
       padding-left: 45px;
       padding-right: 45px;
    }

    @include breakpoint (max-xxxl){
        padding-left: 36px;
        padding-right: 36px;
    }

    @include breakpoint (max-xxl){
        padding-left: 28px;
        padding-right: 28px;
    }

     @include breakpoint (max-xl){
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav {
        @include flex;
        gap: 10px;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;

        @include breakpoint (max-md){
            margin-bottom: 30px;
        }

        .nav-item {
            .nav-link {
                display: inline-block;
                padding: 20px 30px;
                line-height: 1;
                background-color: $white;
                border-radius: 10px;
                color: #000D44;
                font-size: 20px;
                font-weight: 600;
                font-family: $heading-font;

                &.active {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.service-box-items {
    background-color: $white;
    padding: 30px;
    border-radius: 30px;
    margin-top: 30px;

    @include breakpoint (max-xxxl){
        padding: 26px;
    }

    .service-thumb {
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        img {
            @include imgw;
            position: relative;
            display: block;
            border-radius: 20px;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
            
        }

        .date-item {
            font-size: 14px;
            font-weight: 400;
            background-color: $white;
            padding: 10px 22px;
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 50px;
            line-height: 1;
            color: $header-color;
            z-index: 9;

            i {
                margin-right: 6px;
                color: $theme-color;
            }
        }
    }

    .service-content {
        margin-top: 25px;

        h3 {
            @include breakpoint (max-md){
                font-size: 18px;
            }

            @include breakpoint (max-sm){
                font-size: 20px;
            }
            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }

        ul {
            margin-top: 15px;

            li {
                @include flex;
                gap: 12px;

                .content {
                    p {
                        font-family: $heading-font;
                        font-weight: 500;
                        color: $header-color;

                        span {
                            color: $text-color;
                        }
                    }
                }

                &:not(:last-child) {
					margin-bottom: 8px;
				}
            }
        }

        .service-bottom-area {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;

            @include breakpoint (max-xxl){
                flex-wrap: wrap;
                gap: 15px;
            }

            .client-img {
                @include breakpoint (max-xl4){
                    img {
                        width: 120px;
                    }
                }
            }

            .events-btn {
                @include flex;
                gap: 16px;

                .icon {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 10px;
                    color: $header-color;
                    @include transition;
                    background-color: #F8F8F8;
                }

                .text {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 700;
                    color: $header-color;
                    @include transition;
                }

                &:hover {
                   .icon {
                     background-color: $theme-color;
                        color: $white;
                   }

                   .text {
                    color: $theme-color;
                   }
                }
            }
        }
    }

    &:hover {
        .service-thumb {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }
    }
}
