ul.slick-dots {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;

    li {
        display: inline-block;
        border: 0;
        width: unset;
        height: unset;

        button {
            border: 0;
            font-size: 0;
            width: 12px;
            height: 12px;
            margin: 0px 5px 0px 5px;
            border: 0;
            padding: 0;
            border-radius: 50%;
            background: $black;
        }

        &.slick-active {
            button {
                width: 12px;
                height: 12px;
                background: $theme-color;
                transform: translateY(-1px);
            }
        }
    }
}



.arrow-style-one,
.arrow-style-two {

    .slick-prev,
    .slick-next,
    .next-p1,
    .prev-p1,
    .slick-arrow {
        color: $title;
        font-size: 24px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1.5px solid $black;
        background: transparent;
        display: inline-block;
        position: relative;
        z-index: 1;
        cursor: pointer;
        @include transition(.4s);

        img {
            @include transition(.4s);
        }

        &:hover {
            color: $white;
            background: $theme-color;
            border-color: $theme-color;

            img {
                transform: scale(1.1);
            }
        }
    }

    .slick-prev {
        margin-right: 20px;

        &::before {
            left: -20px;
            top: -10px;
            right: auto;
        }
    }

    .slick-next {

        &::before {
            right: -20px;
            top: -10px;
        }
    }
}


.arrow-style-two {
    .slick-arrow {
        background: $white;
        border-color: $white;
    }
}

.arrow-back-border {
    &.border-black {
        border: 1.5px solid $theme-color2;
    }
}




.number-wrapper {
    position: absolute;
    left: 50px;
    top: 34%;
    transform: rotate(90deg);
    z-index: 1;

    .number-pagination {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        line-height: 1;
        letter-spacing: 4px;
    }

    .total-pagination {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 500;
        display: inline-block;
        line-height: 1;
        letter-spacing: 4px;
    }

    .divider-line {
        width: 2px;
        height: 17px;
        background: rgba(255, 255, 255, 0.3);
        display: inline-block;
        margin: 0 6px 0 4px;
        line-height: 1;
        transform: rotate(20deg) translateY(1px);
    }
}

.number-wrapper-two {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        background: $hr-border-color;
        width: 442px;
        height: 1.5px;
        position: relative;
        left: 0;
        top: -6px;
        display: inline-block;
        margin-right: 35px;
    }

    &::after {
        content: "\F285";
        font-family: "bootstrap-icons";
        font-weight: 700;
        position: absolute;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.3);
        right: 21%;
        top: -1px;
        z-index: 1;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }


    .number-pagination {
        color: $heding;
        font-size: 20px;
        font-weight: 500;
        font-family: $latoFont;
        letter-spacing: 4px;
        display: inline-block;
        line-height: 1;
    }

    .total-pagination {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.3);
        font-weight: 600;
        font-family: $latoFont;
        letter-spacing: 4px;
        display: inline-block;
        line-height: 1;
    }

    .divider-line {
        width: 2px;
        height: 17px;
        background: rgba(0, 0, 0, 0.3);
        display: inline-block;
        margin: 0 6px 0 4px;
        line-height: 1;
        transform: rotate(20deg) translateY(1px);
    }

    @media #{$max-laptop} {
        &::before {
            width: 280px;
        }

        &::after {
            display: none;
        }
    }
}

.course-navigation {

    .slick-arrow {
        color: $black;
        font-size: 30px;
        border: 1.5px solid $hr-border-color;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        background: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @include transition(.4s);

        &:hover {
            color: $white;
            border-color: $theme-color;
            background: $theme-color;
        }
    }

    .slick-prev {

        &:hover {
            transform: rotate(-45deg);
        }
    }

    .slick-next {

        &:hover {
            transform: rotate(45deg);
        }
    }

    .nav-title {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .course-title {
        color: $title;
        font-size: 28px;
        font-family: $latoFont;
        font-weight: 600;
        margin-bottom: 0;
    }

    @media #{$max-xs} {
        .slick-prev {
            margin-right: 10px;
        }

        .slick-next {
            margin-left: 10px;
        }

        .course-title {
            font-size: 24px;
        }
    }
}