.team-wraper {
    margin-top: 60px;

    .team-left-content {
        background: #F5F7FA;
        border-radius: 30px 30px 150px 30px;
        @include flex;
        gap: 30px;
        padding: 30px;

        @include breakpoint (max-md){
            border-radius: 30px;
        }

        @include breakpoint (max-sm){
            flex-wrap: wrap;
        }

        .team-image {
            position: relative;
            z-index: 99;
            overflow: hidden;
            
            img {
                @include imgw;
                border-radius: 20px;
                position: relative;
                display: block;
                object-fit: cover;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                &:first-child {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    -webkit-transform: translateX(50%) scaleX(2);
                    transform: translate(50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px)
                }
            }

            &::before {
                @include before;
                border: 1px solid $theme-color;
                border-radius: 20px;
                top: 13px;
                left: 7px;
                z-index: 1;
                width: 250px;
                height: 272px;
                z-index: 11;
            }
        }

        .team-content {
            h3 {
                font-size: 24px;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: $theme-color;
                margin-top: 5px;
            }

            .line {
                width: 75px;
                height: 1px;
                background-color: $theme-color;
                margin-top: 13px;
                margin-bottom: 15px;
            }

            .call-number {
                color: #788094;

                &:hover {
                    color: $theme-color;
                }
            }

            .social-icon {
                gap: 7px;
                margin-top: 20px;

                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #7546FF;
                    color: $white;

                    &:hover {
                        background-color: $header-color;
                    }

                    &.color-2 {
                        background-color: $theme-color;

                        &:hover {
                            background-color: $header-color;
                        }
                    }
                }
            }
        }

        &:hover {
            .team-image {
                img {
                    &:first-child {
                        -webkit-transform: translateX(0) scaleX(1);
                        transform: translate(0) scaleX(1);
                        opacity: 1;
                        -webkit-filter: blur(0);
                        filter: blur(0)
                    }

                    &:nth-child(2){
                        -webkit-transform: translateX(-50%) scaleX(2);
                        transform: translateX(-50%) scaleX(2);
                        opacity: 0;
                        -webkit-filter: blur(10px);
                        filter: blur(10px);
                    }
                }
            }
        }
    }

    .team-right-items {
        .team-thumb-box {
            position: relative;
            height: 358px;
            overflow: hidden;
            border-radius: 30px;

            img {
                @include imgw;
                border-radius: 30px;
                object-fit: cover;
                position: relative;
                display: block;
                object-fit: cover;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                &:first-child {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    -webkit-transform: translateX(50%) scaleX(2);
                    transform: translate(50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px)
                }
            }

            .team-icon {
                gap: 10px;
                position: absolute;
                top: 40%;
                right: 0;
                transform: translateY(-50%);
                right: 20px;
                z-index: 9;

                li {
                    transform: scaleX(0);
                    transition: 0.4s ease-in-out;
                    cursor: pointer;
                
                    a {
                        background-color: $theme-color;
                        width: 37px;
                        height: 37px;
                        line-height: 37px;
                        display: inline-block;
                        color: $white;
                        text-align: center;
                        @include transition;
                        border-radius: 50%;

                        &:hover {
                            background-color: $header-color;
                        }
                    }
                }
            }

            .content {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px;
                line-height: 1;
                background-color: $white;
                padding: 15px 39px;
                border-radius: 25px;
                z-index: 99;
                text-align: center;

                @include breakpoint (max-xxl){
                    padding: 15px 30px;
                    left: 20px;
                    right: 20px;
                }

                h3 {
                    font-size: 22px;

                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }

            &:hover {
                .team-icon {
                    li {
                        transform: scaleX(1);
                    }
                }

                 img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
            }
        }
    }
}

.team-box-items-3 {
    text-align: center;

    .thumb {
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        .social-icon {
            @include flex;
            gap: 14px;
            justify-content: center;
            position: absolute;
            bottom: 40px;
            transform: scale(0.8);
            left: 0;
            right: 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;

            a {
                color: $white;
                transition: all 0.3s ease;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        &::before {
            @include before;
            background: linear-gradient(180deg, rgba(70, 42, 153, 0) 0%, rgba(101, 60, 220, 0.658022) 65.8%, rgba(109, 65, 237, 0.824115) 82.41%, #7546FF 100%);
            z-index: 11;
            opacity: 0;
            visibility: hidden;
            @include transition;
        }

        img {
            @include imgw;
            border-radius: 50%;
             position: relative;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .content {
        margin-top: 20px;

        h3 {
            font-size: 24px;
            font-weight: 600;

             a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }
    }

    &:hover {
        .thumb {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            .social-icon {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }

            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            } 
        }
    }

    &.style-2 {
        margin-top: 30px;
    }
}

.team-details-wrapper {
    background: #F5F8FD;
    border-radius: 50px;
    padding: 60px;

    @include breakpoint (max-xl){
        padding: 35px;
    }

    @include breakpoint (max-lg){
        padding: 32px;
    }

    @include breakpoint (max-md){
        padding: 28px;
    }

    .team-details-image {
        border-radius: 20px;
        width: 500px;

         @include breakpoint (max-xxl){
            width: initial;
        }

        img {
            @include imgw;
            border-radius: 20px;
        }
    }

    .team-details-content {
        margin-left: 65px;

        @include breakpoint (max-xxl){
            margin-left: 0;
        }

        .details-head {
            @include flex;
            justify-content: space-between;
            margin-bottom: 20px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 20px;
            }

            .content {
                h3 {
                    font-size: 36px;
                    font-weight: 600;

                    @include breakpoint (max-xl){
                        font-size: 29px;
                    }

                    @include breakpoint (max-md){
                        font-size: 27px;
                    }

                    @include breakpoint (max-sm){
                        font-size: 25px;
                    }
                }

                span {
                    color: $theme-color;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .social-icon {
                @include flex;
                gap: 6px;

                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #D8DDE1;
                    color: $header-color;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }

        .details-contact-info {
            border: 1px solid #D8DDE1;
            border-radius: 30px;
            padding: 27px 30px;
            margin-top: 20px;
            position: relative;
            margin-bottom: 30px;

            &::before {
                position: absolute;
                top: 0;
                left: 51%;
                transform: translateX(-50%);
                content: "";
                width: 1px;
                height: 100%;
                background: #D8DDE1;

                @include breakpoint (max-xxl){
                    display: none;
                }
            }

            &::after {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translateY(-50%);
                content: "";
                width: 100%;
                height: 1px;
                background: #D8DDE1;

                @include breakpoint (max-xxl){
                    display: none;
                }
            }

            ul {
                li {
                    @include flex;
                    gap: 20px;

                    &:not(:last-child){
                        margin-bottom: 60px;

                        @include breakpoint (max-xxl){
                            margin-bottom: 20px;
                        }
                    }

                    .icon {
                        max-width: 50px;
                        width: 100%;
                        height: 50px;
                        background-color: $white;
                        border-radius: 50%;
                        line-height: 50px;
                        text-align: center;
                    }

                    .content {
                        span {
                            font-weight: 500;
                        }
                        h4 {
                            font-size: 18px;
                            font-weight: 500;

                            a {
                                color: $header-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

 .personal-skills-items {
    margin-top: 60px;

    h3 {
        font-size: 36px;
        font-weight: 600;

         @include breakpoint (max-xl){
            font-size: 29px;
        }

        @include breakpoint (max-md){
            font-size: 27px;
        }

        @include breakpoint (max-sm){
            font-size: 25px;
        }
    }

    .skill-feature-items {
        margin-top: 20px;

        .skill-feature {
            &:not(:last-child){
                margin-bottom: 20px;
            }

            .box-title {
                font-size: 16px;
                font-weight: 500;
            }

            .progress-value {
                margin-bottom: 10px;
                //margin-top: -0.5em;
                color: $header-color;
                text-transform: capitalize;
            }
            .progress {
                position: relative;
                height: 10px;
                background-color: #F5F8FD;
                border-radius: 10px;
                overflow: visible;
                margin-top: 15px;
            }
        
            .progress-bar {
                background-color: $theme-color;
                height: 10px;
                margin: 0;
                border-radius: inherit;
                overflow: visible;
                position: relative;
                margin-top: 0;
                 border-radius: 10px;
            }
            .progress-value {
                position: absolute;
                top: -38px;
                right: -8px;
                font-size: 18px;
                font-weight: 600;
                color: $theme-color;
            }
        }
    }
}