//team

.team-wrap-one {
    background: $light-grey;
    text-align: center;
    border-radius: 30px;
    padding-bottom: 32px;
    margin-bottom: 40px;
    @include transition(.4s);

    .team-thumb {
        padding-bottom: 6px;
        margin-bottom: 22px;
        border-radius: 30px 30px 0 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        img {
            border-radius: 30px 30px 0 0;
            @include transition(.4s);
        }
    }

    .team-social {
        border-radius: 15px 15px 0px 0px;
        background: $white;
        padding: 25px;
        width: max-content;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        @include transition(.4s);

        a:not(:last-child) {
            margin-right: 15px;
        }
    }

    .name {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 12px;
        @include transition(.4s);

        a {
            color: $heding;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .designation {
        color: $body-text-color;
        font-size: 22px;
        font-weight: 400;
        font-family: $latoFont;
        @include transition(.4s);
    }

    .more-btn {
        color: $white;
        background: $theme-color2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        display: none;
        @include transition(.4s);
    }

    .hover-content {
        padding-left: 40px;
        padding-right: 40px;
        justify-content: center;
        @include transition(.4s);
    }

    &:hover {

        .team-thumb {
            border-radius: 30px 30px 210px 210px;

            img {
                border-radius: 30px 30px 210px 210px;
            }
        }

        .team-social {
            opacity: 1;
            visibility: visible;
            bottom: 0px;
        }

        .hover-content {
            justify-content: space-between;
        }

        .content {
            text-align: start;
        }

        .more-btn {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            display: inline-flex;
        }
    }

    @media #{$max-lg} {

        .team-social {
            a:not(:last-child) {
                margin-right: 3px;
            }
        }
    }

    @media #{$max-lg} {

        .name {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .hover-content {
            padding-left: 10px;
            padding-right: 10px;
        }

        .team-social {
            padding: 15px;
        }
    }
}

.team-wrap-two {
    border-radius: 20px;
    border: 1.5px solid $hr-border-color;
    margin-bottom: 40px;
    @include transition(.4s);

    .team-thumb {
        border-radius: 20px 0 0 20px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        img {
            border-radius: 20px 0 0 20px;
            @include transition(.4s);
        }
    }

    .team-social {
        margin-bottom: 30px;

        a:not(:last-child) {
            margin-right: 15px;
        }
    }

    .name {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 9px;
        @include transition(.4s);

        a {
            color: $heding;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .designation {
        color: $body-text-color;
        font-size: 22px;
        font-weight: 400;
        font-family: $latoFont;
        margin-bottom: 40px;
        @include transition(.4s);
    }

    .content {
        padding-left: 30px;
    }

    .more-btn {
        color: $title;
        font-size: 18px;
        font-weight: 600;
        font-family: $poppinsFont;
        border-bottom: 1.5px solid $title;
        display: inline-block;
        @include transition(.4s);

        img {
            margin-left: 10px;
            @include transition(.4s);
        }

        &:hover {
            color: $theme-color;
            border-color: $theme-color;

            img {
                filter:
                    brightness(0) saturate(100%) invert(18%) sepia(70%) saturate(2910%) hue-rotate(349deg) brightness(89%) contrast(97%);
            }
        }
    }

    &:hover {
        border-color: $theme-color;
    }


    @media #{$max-lg} {
        .team-social {
            a:not(:last-child) {
                margin-right: 3px;
            }
        }

        .name {
            font-size: 22px;
            margin-bottom: 10px;
        }

        .designation {
            margin-bottom: 15px;
        }

        .team-social {
            margin-bottom: 15px;
        }

        .content {

            padding-left: 15px;
        }

        .more-btn {
            font-size: 16px;

            img {
                margin-left: 0;
            }
        }
    }

    @media #{$max-xs} {
        .designation {
            font-size: 20px;
        }
    }
}

.shape-t2a {
    filter: invert(1) brightness(0);
    margin-left: -90px;
}


.team-wrap-three {
    padding-bottom: 32px;
    margin-bottom: 40px;
    @include transition(.4s);

    .team-thumb {
        border-radius: 30px;
        background: $light-grey;
        margin-bottom: 26px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        img {
            border-radius: 30px;
            @include transition(.4s);
        }
    }

    .front-shape {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        visibility: hidden;
        opacity: 0;
        @include transition(.4s);
    }


    .team-social {
        border-radius: 15px 15px 0px 0px;
        background: $theme-color2;
        padding: 15px 25px;
        width: max-content;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3;
        @include transition(.4s);

        a {
            background: $white;
        }

        a:not(:last-child) {
            margin-right: 15px;
        }
    }

    .name {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 12px;
        @include transition(.4s);

        a {
            color: $heding;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .designation {
        color: $body-text-color;
        font-size: 22px;
        font-weight: 400;
        font-family: $latoFont;
        @include transition(.4s);
    }

    .more-btn {
        color: $white;
        background: $theme-color2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 10px;
        @include transition(.4s);
    }

    .content {
        position: relative;
        z-index: 1;
    }

    &:hover {

        .team-thumb {
            background: transparent;
        }

        .front-shape {
            visibility: visible;
            opacity: 1;
        }

        .team-social {
            opacity: 1;
            visibility: visible;
            bottom: 0px;
        }

        .more-btn {
            background: $theme-color;
        }
    }

    @media #{$max-lg} {

        .team-social {
            a:not(:last-child) {
                margin-right: 3px;
            }
        }
    }

    @media #{$max-lg} {

        .name {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .hover-content {
            padding-left: 10px;
            padding-right: 10px;
        }

        .team-social {
            padding: 15px;
        }
    }
}


.team-wrap-four {
    padding-bottom: 32px;
    margin-bottom: 40px;
    @include transition(.4s);

    .team-thumb {
        border-radius: 30px;
        background: $light-grey;
        margin-bottom: 26px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        img {
            border-radius: 30px;
            @include transition(.4s);
        }
    }


    .team-social {
        display: flex;
        flex-direction: column;
        gap: 20px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 25px;
        right: -50px;
        margin: 0 auto;
        z-index: 1;
        @include transition(.4s);

        a {
            background: $white;
        }

        a:not(:last-child) {
            margin-right: 15px;
        }
    }

    .name {
        font-size: 32px;
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppinsFont;
        margin-bottom: 12px;
        @include transition(.4s);

        a {
            color: $heding;

            &:hover {
                color: $theme-color;
            }
        }
    }

    .designation {
        color: $body-text-color;
        font-size: 22px;
        font-weight: 400;
        font-family: $latoFont;
        @include transition(.4s);
    }

    .more-btn {
        color: $white;
        background: $theme-color2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: 10px;
        @include transition(.4s);
    }

    .content {
        position: relative;
        z-index: 1;
    }

    &:hover {

        .team-social {
            opacity: 1;
            visibility: visible;
            right: 25px;
        }

        .more-btn {
            background: $theme-color;
        }
    }

    @media #{$max-lg} {}

    @media #{$max-lg} {

        .name {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}

.hover-bg {
    &:hover {
        .team-thumb {
            background: $theme-color;
        }
    }
}

.team-social {
    a {
        color: $heding;
        font-size: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1.5px solid $hr-border-color;
        text-align: center;
        line-height: 48px;
        display: inline-block;

        @include transition(0.4s);

        &:hover {
            color: $white;
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}

.biography-content-wrap {

    .team-biography {
        img {
            border-radius: 15px
        }

        @media #{$max-md} {

            img {
                width: 100%;
            }
        }
    }

    .name {
        font-size: 60px;
        font-weight: 600;
        font-family: $latoFont;

        a {
            color: $heding;
        }
    }

    .designation {
        font-size: 20px;
        font-weight: 500;
        font-family: $latoFont;
        margin-bottom: 0;
    }

    .description {
        margin-bottom: 40px;
    }

    .team-social {
        .social-title {
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 3.8px;
            display: inline-block;
            margin-right: 35px;
        }

        a {
            border: 1.5px solid $hr-border-color;
            margin-right: 10px;

            &:hover {
                border-color: $black;
                background: transparent;
            }
        }
    }


    @media #{$max-lg} {

        .name {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }


        .addres-line {
            font-size: 18px;
            padding-bottom: 10px;
        }
    }
}

.biography-content {
    padding: 50px 0 30px 0;
    border-radius: 30px;
    position: relative;
    z-index: 1;

    @media #{$max-lg} {
        padding: 25px 15px;
    }

    .icon {
        color: $theme-color;
        font-size: 25px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $light;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    label {
        font-size: 20px;
        font-weight: 400;
        font-family: $latoFont;
        margin-bottom: 5px;
    }

    .addres-line {
        font-size: 20px;
        font-weight: 700;
        font-family: $latoFont;
        margin-bottom: 0;

        a {
            color: $black;
        }
    }

    .team-social {
        a {
            &:hover {
                color: $white;
                background: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

//shape
.team-section {
    .shape-t1 {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 90px;
    }
}