.testimonial-wrapper-2 {
    position: relative;
    z-index: 8;

    @include breakpoint (max-xl){
        padding-top: 0 !important;
    }

    .testi-bg-shape {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }

    .section-title {
         @include breakpoint (max-xl){
          margin: 0 30px;
        }
    }

    .testimonial-left-thumb {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

         @include breakpoint (max-xl4){
            max-width: 900px;
        }

         @include breakpoint (max-xxxl){
            max-width: 700px;
        }

        @include breakpoint (max-xxl){
            max-width: 600px;
        }

        @include breakpoint (max-xl){
            position: static;
            max-width: initial;
            height: 500px;
        }

        img {
            border-radius: 0px 376px 0px 0px;
            height: 100%;
            width: 100%;
            object-fit: cover;

            @include breakpoint (max-xxxl){
                border-radius: 0px 230px 0px 0px;
            }

            @include breakpoint (max-xxl){
                border-radius: 0;
            }
        }
    }

    .testimonial-right-content {
        margin-left: -130px;
        margin-right: -80px;

         @include breakpoint (max-xl){
          margin: 0 30px;
        }

        .testimonial-box-items-2 {
            background-color: $white;
            padding: 30px;
            border-radius: 30px;
            margin-top: 60px;
            
            @include breakpoint (max-md){
                margin-top: 30px;
            }

            .top-area {
                @include flex;
                justify-content: space-between;

                .star {
                    color: rgba(255, 102, 51, 1);
                }
            }

            h5 {
                margin-top: 25px;
            }

            .client-info {
                @include flex;
                gap: 20px;
                margin-top: 30px;

                .content {
                    h4 {
                        font-size: 24px;

                         @include breakpoint (max-xl){
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}