//theme-banner-one


.theme-banner-one {
    padding-top: 147px;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;
    }

    .main-title {
        color: $white;
        font-size: 90px;
        line-height: 1.1;
        font-family: $poppinsFont;
        font-weight: 600;
        margin-bottom: 30px;
    }

    p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 68px;
    }

    .bstyle,
    .bstyle-2 {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        font-family: $latoFont;
        line-height: 1;
        background: $theme-color;
        display: inline-block;
        padding: 24px 50px 25px 50px;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        .btn-icon {
            color: $white;
            background: $theme-color2;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
        }

        &:hover {
            background: $theme-color2;
        }
    }

    .bstyle-2 {
        color: $title;
        padding-right: 90px;
        background: $white;

        .btn-icon {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
            background: $theme-color;

            .btn-icon {
                color: $theme-color2;
                background: $white;
            }
        }
    }

    .hero-img {
        position: relative;
        z-index: 1;
        display: inline-block;
        margin-left: 35px;
    }

    .hero-shape-1 {
        position: absolute;
        left: 30px;
        right: 0;
        top: 20px;
        z-index: 2;
    }



    @media #{$max-xl} {
        .main-title {
            font-size: 65px;
        }

        p {
            font-size: 22px;
            line-height: 34px;
        }

        .hero-img {
            margin-left: 0;
        }

    }

    @media #{$max-lg} {
        .social-element {
            display: none;
        }

        .number-wrapper {
            display: none;
        }
    }

    @media #{$max-md} {
        padding-top: 220px;

        .main-title {
            font-size: 55px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
        }
    }

    @media #{$max-xs} {
        padding-top: 200px;

        .main-title {
            font-size: 45px;
        }

        p {
            font-size: 20px;
            line-height: 34px;
        }

        .chat-section {
            left: 15px;
            bottom: 15px;
        }
    }

}

.social-element {
    display: flex;
    align-items: center;
    position: absolute;
    right: -12.5%;
    top: 60%;
    transform: rotate(90deg);

    p {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        font-family: $latoFont;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: 1.9px;
    }

    .dash-line {
        background: $white;
        width: 243px;
        height: 1px;
        display: inline-block;
        margin-left: 25px;
    }

    a {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        font-family: $latoFont;
        text-transform: uppercase;
        margin: 0 33px;
    }

    span {
        color: $white;
        font-size: 20px;
    }
}

//theme-banner-two
.theme-banner-two {
    padding-left: 185px;
    position: relative;
    z-index: 1;

    .sub-title {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        font-family: $latoFont;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 33px;
        background: $theme-color2;
        border-radius: 30px;
        display: inline-block;
        letter-spacing: 0;
        margin-bottom: 7px;

        img {
            margin-right: 15px;
            margin-bottom: 6px;
        }
    }

    .main-title {
        color: $heding;
        font-family: $poppinsFont;
        font-size: 90px;
        line-height: 1.11;
        margin-bottom: 27px;
    }

    .hero-description {
        color: $body-text-color;
        font-size: 28px;
        font-family: $latoFont;
        line-height: 160.714%;
        margin-bottom: 59px;
        max-width: 97%;
    }


    .bstyle,
    .bstyle-2 {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        font-family: $latoFont;
        line-height: 1;
        background: $theme-color;
        display: inline-block;
        padding: 24px 50px 25px 50px;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        .btn-icon {
            color: $white;
            background: $theme-color2;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
        }

        &:hover {
            background: $theme-color2;
        }
    }

    .bstyle-2 {
        color: $title;
        padding-right: 90px;
        background: $white;

        .btn-icon {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
            background: $theme-color;

            .btn-icon {
                color: $theme-color2;
                background: $white;
            }
        }
    }

    .hero-img {
        position: relative;
        z-index: 1;

        img {
            border-radius: 490px 0 0 490px;
        }
    }

    .user-content-wrap-two {
        position: absolute;
        bottom: 125px;
        left: 0;
        z-index: 2;
    }

    .shape-h2a,
    .shape-h2b,
    .shape-h2c {
        position: absolute;
        z-index: 1;

        @media #{$max-laptop} {
            display: none;
        }
    }

    .shape-h2b {
        left: 0;
        top: -4px;
    }

    .shape-h2a {
        left: 0;
        bottom: 0;
    }

    .shape-h2c {
        top: -14px;
        z-index: -1;
    }

    @media #{$max-xl} {
        padding-left: 15px;

        .main-title {
            font-size: 75px;
        }

        .hero-description {
            font-size: 22px;
        }
    }

    @media #{$max-laptop} {

        .main-title {
            font-size: 55px;
        }
    }

    @media #{$max-lg} {
        .main-title {
            font-size: 45px;
        }

        .hero-description {
            font-size: 20px;
            margin-bottom: 20px;
        }

    }

    @media #{$max-md} {
        padding-left: 0;
        padding-top: 120px;
        padding-bottom: 100px;

        .main-title {
            font-size: 45px;
        }

        .hero-description {
            font-size: 18px;
        }

        .hero-img {
            margin-top: 70px;
        }
    }

    @media #{$max-xs} {

        .main-title {
            font-size: 35px;
            margin-bottom: 40px;
        }

        .bstyle-2 {
            display: none;
        }

        .sub-title {
            padding-left: 7px;
            padding-right: 7px;
            font-size: 14px;
            margin-bottom: 15px;

            img {
                margin-right: 0;
            }
        }
    }
}


//theme-banner-three
.theme-banner-three {
    position: relative;
    display: block;
    z-index: 2;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0.5;
        z-index: -1;
    }

    .shape-1 {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
    }

    .shape-2 {
        position: absolute;
        z-index: 1;
        right: 47%;
        top: 33%;
    }

    .chat-section {
        width: 50px;
        height: 50px;
        background: $white;
        border-radius: 50%;
        color: $theme-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        position: absolute;
        z-index: 2;
        left: 55px;
        bottom: 55px;
        animation: pulseBig2 15s infinite;

        i {
            margin-top: 4px;
        }
    }

    .sub-title {
        color: $white;
        font-size: 16px;
        font-family: $latoFont;
        font-weight: 400;
        line-height: 162.5%;
        letter-spacing: unset;
        position: relative;
        z-index: 2;
        margin-bottom: 14px;

        &::before {
            content: '';
            position: relative;
            left: 0;
            top: -5px;
            display: inline-block;
            width: 35px;
            height: 1.5px;
            background: $white;
            z-index: 1;
            margin-right: 10px;
        }
    }

    .main-title {
        color: $white;
        font-size: 90px;
        font-family: $poppinsFont;
        font-weight: 600;
        line-height: 1.11;
        letter-spacing: -1.8px;
        margin-bottom: 60px;
    }

    .bstyle,
    .bstyle-2 {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        font-family: $latoFont;
        line-height: 1;
        background: $theme-color;
        display: inline-block;
        padding: 24px 50px 25px 50px;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        .btn-icon {
            color: $white;
            background: $theme-color2;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
        }

        &:hover {
            background: $theme-color2;
        }
    }

    .bstyle-2 {
        color: $title;
        padding-right: 90px;
        background: $white;

        .btn-icon {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
            background: $theme-color;

            .btn-icon {
                color: $theme-color2;
                background: $white;
            }
        }
    }



    @media #{$max-xl} {

        .main-title {
            font-size: 75px;
        }

    }

    @media #{$max-laptop} {

        .main-title {
            font-size: 75px;
        }
    }

    @media #{$max-lg} {

        .main-title {
            font-size: 55px;
        }

    }


    @media #{$max-md} {
        .main-title {
            font-size: 55px;
        }
    }

    @media #{$max-xs} {

        .main-title {
            font-size: 45px;
        }

        .bstyle {
            padding: 25px 30px 25px 30px;
        }

    }
}

.social-wrapper {
    h3 {
        color: $white;
        font-size: 28px;
        font-weight: 500;
        font-family: $latoFont;
    }
}

.hero-social-links {
    a {
        color: $title;
        font-size: 22px;
        background: $white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
}



//theme-banner-four
.theme-banner-four {
    position: relative;
    z-index: 1;

    .chat-section {
        width: 50px;
        height: 50px;
        background: $theme-color2;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        position: absolute;
        z-index: 2;
        left: 55px;
        bottom: 55px;

        &::before {
            content: "";
            position: absolute;
            left: -12.5p;
            top: -12.5px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: rgba(30, 58, 138, 0.15);
        }

        i {
            margin-top: 4px;
        }
    }

    .sub-title {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        font-family: $latoFont;
        line-height: 35px;
        padding-left: 20px;
        padding-right: 33px;
        background: $theme-color2;
        border-radius: 30px;
        display: inline-block;
        letter-spacing: 0;
        margin-bottom: 13px;

        img {
            margin-right: 10px;
            margin-bottom: 6px;
        }
    }

    .main-title {
        color: $title;
        font-size: 90px;
        font-weight: 600;
        font-family: $poppinsFont;
        line-height: 1.11;
        margin-bottom: 33px;
    }


    p {
        color: rgba(33, 37, 41, 0.70);
        font-family: $latoFont;
        font-size: 28px;
        line-height: 1.6;
        margin-bottom: 77px;
    }

    .hero-content {
        padding-left: 185px;
    }

    .call-btn-box {
        .icon {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            background: $theme-color2;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    .bstyle,
    .bstyle-2 {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        font-family: $latoFont;
        line-height: 1;
        background: $white;
        display: inline-block;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        .btn-icon {
            margin-left: 33px;
        }
    }

    .bstyle {
        background: $theme-color;
        padding: 24px 51px 25px 51px;

        &:hover {
            color: $white;
            background: $theme-color2;
        }
    }


    ul.slick-dots {
        display: none !important;
    }


    @media #{$max-xxl} {
        .hero-content {
            padding-left: 0;
        }

        .main-title {
            font-size: 65px;
        }

    }

    @media #{$max-lg} {

        p {
            font-size: 22px;
        }

    }


    @media #{$max-md} {}

    @media #{$max-xs} {

        .main-title {
            font-size: 45px;
        }

    }
}


//theme-banner-five
.theme-banner-five {

    .header-social-links {
        transform: rotate(90deg);
        z-index: 2;
        top: 47%;
        right: -25px;

        a {
            color: $white;

            &::after {
                background: $white;
            }
        }
    }

    .chat-section {
        width: 50px;
        height: 50px;
        background: $theme-color2;
        border-radius: 50%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        position: absolute;
        z-index: 2;
        left: 55px;
        bottom: 55px;
        animation: pulseBig2 15s infinite;

        i {
            margin-top: 4px;
        }
    }

    .ht-slider-wrapper {
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.60);
            width: 100%;
            height: 100%;
        }
    }

    .sub-title {
        color: $white;
        font-size: 16px;
        font-family: $latoFont;
        font-weight: 400;
        line-height: 162.5%;
        letter-spacing: unset;
        position: relative;
        z-index: 2;
        margin-bottom: 20px;

        &::before {
            content: '';
            position: relative;
            left: 0;
            top: -5px;
            display: inline-block;
            width: 35px;
            height: 1.5px;
            background: $white;
            z-index: 1;
            margin-right: 10px;
        }
    }

    .main-title {
        color: $white;
        font-size: 90px;
        font-family: $poppinsFont;
        font-weight: 600;
        line-height: 1.11;
        letter-spacing: -1.8px;
        margin-bottom: 30px;
    }

    p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 28px;
        font-family: $latoFont;
        line-height: 1.6;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 59px;
    }



    .bstyle,
    .bstyle-2 {
        color: $white;
        font-size: 20px;
        font-weight: 600;
        border-radius: 35px;
        font-family: $latoFont;
        line-height: 1;
        background: $theme-color;
        display: inline-block;
        padding: 24px 50px 25px 50px;
        position: relative;
        z-index: 1;
        @include transition(.4s);

        .btn-icon {
            color: $white;
            background: $theme-color2;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 1;
        }

        &:hover {
            background: $theme-color2;
        }
    }

    .bstyle-2 {
        color: $title;
        padding-right: 90px;
        background: $white;

        .btn-icon {
            background: $theme-color2;
        }

        &:hover {
            color: $white;
            background: $theme-color;

            .btn-icon {
                color: $theme-color2;
                background: $white;
            }
        }
    }


    @media #{$max-laptop} {

        .main-title {
            font-size: 75px;
        }

        p {
            font-size: 22px;
        }
    }

    @media #{$max-lg} {

        .main-title {
            font-size: 65px;
        }

        p {
            font-size: 22px;
        }
    }

    @media #{$max-md} {

        .main-title {
            font-size: 65px;
            line-height: 1.1;
        }

        p {
            font-size: 18px;
            line-height: 34px;
        }
    }

    @media #{$max-xs} {
        .main-title {
            font-size: 45px;
            margin-bottom: 40px;
        }

        p {
            font-size: 20px;
            max-width: 100%;
        }
    }
}


//user list thumb
.user-list,
.feedback-user-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 25px;
    border-radius: 70px;
    width: max-content;

    img {
        border-radius: 50%;
        border: 4px solid $white;
    }

    li {
        margin-left: -18px;
        position: relative;
        z-index: 1;

        &:first-child {
            margin-left: 0;
        }
    }

    .number {
        border-radius: 50%;
        background: $theme-color2;
        font-size: 45px;
        color: $white;
        width: 69px;
        height: 69px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 4px solid $white;
    }
}

//user-content-wrap-two
.user-content-wrap-two {
    background: $white;
    border-radius: 70px;
    padding: 33px 37px 8px 37px;

    span {
        color: $title;
        font-weight: 700;
        font-size: 30px;
    }
}