
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #E32682;
    --header: #000D44;
    --text: #788094;
    --border: #CAD2D2;
    --bg: #000D44;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$shadow: var(--box-shadow);