//widget


.widget-title {
    font-size: 26px;
    font-weight: 600;
    font-family: $latoFont;
}

.service-widget {
    border-radius: 25px;

    .widget-title {
        margin-bottom: 26px;
    }

    .widget {
        padding: 45px 50px 50px 50px;
        margin-bottom: 50px;
        background: $light;
        border-radius: 20px;

        @media #{$max-laptop} {
            padding: 25px 15px;
        }
    }

    @media #{$max-lg} {
        border-radius: 15px;
    }
}

.blog-sidebar {

    .widget-title {
        margin-bottom: 26px;
    }

    .widget {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .widget {
        margin-bottom: 50px;
    }

    .widget-search {
        .search-form {
            input {
                border: 1.5px solid $hr-border-color;
            }
        }
    }


}

//social-links
.social-links {
    & a {
        color: $white;
        font-size: 20px;
        border: 1px solid $white;
        margin-right: 10px;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        @include transition(0.4s);

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $title;
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}



//category-widget
.service-category-widget,
.category-widget {
    li {
        &:last-child {
            a {
                margin-bottom: 0;
            }
        }

        a {
            color: $heding;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
            font-family: $latoFont;
            background: $white;
            padding: 14px 20px 14px 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            display: block;
            position: relative;
            z-index: 1;

            &:hover {
                color: $white;
                background: $theme-color;
            }
        }
    }
}

.blog-sidebar {
    .category-widget {
        li {
            a {
                background: transparent;
                border: 1.5px solid $hr-border-color;

                &:hover {
                    color: $white;
                    border-color: $theme-color;
                    background: $theme-color;
                }
            }
        }
    }
}


.widget-file-download {
    background: #f4f4f4;
    border-radius: 10px;
    padding: 20px 30px 20px 25px;

    .file-download {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        @include transition(0.4s);

        .icon {
            width: 60px;
            height: 60px;
            background: $theme-color2;
            border-radius: 50%;
            color: $white;
            font-size: 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .file-intro {
            flex: 1;
            margin-left: 20px;

            p {
                color: $body-text-color;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                font-family: $poppinsFont;
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
            }

            @media #{$max-xs} {
                p {
                    font-size: 14px;
                }
            }
        }

        .download-link {
            font-size: 30px;

            &:hover {
                color: $theme-color2;
            }
        }

        &:hover {
            .icon {
                background: $theme-color;
            }
        }
    }

    @media #{$max-lg} {
        padding-left: 10px;
        padding-right: 10px;
    }
}

//widget-form

.comment-form {

    input,
    textarea {
        background: $light-grey;
        border-radius: 0;
        color: $title;
        font-size: 18px;
        font-family: $latoFont;
        display: block;
        height: 60px;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 40px;
        border-radius: 8px;
        border: 1.5px solid transparent;

        &:focus {
            outline: none;
            border-color: $heding;
        }

        &::placeholder {
            color: $title;
            font-size: 18px;
        }

        &::-moz-placeholder {
            color: $body-text-color;
            font-size: 18px;
        }

        &::-webkit-placeholder {
            color: $title;
            font-size: 18px;
        }

        &::-o-placeholder {
            color: $body-text-color;
            font-size: 18px;
        }

        &::-ms-placeholder {
            color: $title;
            font-size: 18px;
        }
    }

    textarea {
        height: 170px;
        resize: none;
        padding-top: 10px;
    }

    button {
        color: $white;
        padding: 19px 50px 18px 50px;
        background: $theme-color;
        text-transform: capitalize;
        border: 0;
    }

    p {
        display: flex;
        align-items: center;

        input {
            width: 20px;
            height: 20px;
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}

//page-navigation
.page-navigation {
    .page-item:first-child .page-link {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .page-item:last-child .page-link {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .page-link {
        display: inline-block;
        color: $heding;
        background: transparent;
        font-size: 20px;
        font-weight: 400;
        font-family: $latoFont;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
        padding: 0;
        border-radius: 5px;
        border: 1px solid $heding;

        i {
            font-size: 20px;
        }

        &:focus {
            z-index: 2;
            color: $heding;
            border-color: unset;
            outline: none;
            box-shadow: none;
        }

        &:hover {
            color: $white;
            background: $theme-color;
            border-color: $theme-color;
        }
    }
}

//widget-post
.recent-post {
    display: flex;
    align-items: center;

    .post-thumb {
        width: 100px;
        height: 70px;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 0;
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        background-repeat: no-repeat;
    }

    h5 {
        font-size: 16px;
        font-family: $poppinsFont;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: normal;

        a {
            color: $heding;
        }

        & a:hover {
            color: $theme-color;
        }
    }

    span {
        color: $body-text-color;
        font-size: 12px;
        font-weight: 400;
        font-family: $latoFont;

        i {
            color: $body-text-color;
        }
    }

    @media (max-width: 1599.98px) {
        h5 {
            font-size: 18px;
        }
    }
}

//widget-search
.widget-search {
    .search-form {
        position: relative;
        z-index: 1;

        input {
            color: $body-text-color;
            font-size: 20px;
            height: 60px;
            width: 100%;
            line-height: 60px;
            padding-left: 22px;
            background: $white;
            border: 1.5px solid transparent;
            border-radius: 8px;

            &::placeholder {
                font-size: 20px;
                color: $body-text-color;
            }

            &::-webkit-placeholder {
                font-size: 20px;
                color: $body-text-color;
            }

            &::-moz-placeholder {
                font-size: 20px;
                color: $body-text-color;
            }

            &::-o-placeholder {
                font-size: 20px;
                color: $body-text-color;
            }

        }

        .widget-btn {
            color: $white;
            background: transparent;
            border: 0;
            width: 54px;
            height: 50px;
            line-height: 50px;
            color: $white;
            position: absolute;
            right: 5px;
            top: 5px;
            border-radius: 6px;
            z-index: 1;

            i {
                color: $black;
                font-size: 20px;
            }
        }
    }
}


.tagcloud {
    span {
        color: $body-text-color;
        font-size: 22px;
        font-weight: 500;
        font-family: $latoFont;
        display: inline-block;
        margin-right: 10px;
    }

    a {
        color: $body-text-color;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        font-family: $poppinsFont;
        border: 1px solid $black;
        display: inline-block;
        padding: 10px 15px;
        margin: 5px 3px;
        border-radius: 4px;
        @include transition(0.3s);
        position: relative;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            z-index: 1;
            background: $white;
            width: 0px;
            height: 100%;
            left: 0;
            bottom: 0;
            border-radius: 4px;
            @include transition(.4s);
            z-index: -1;
        }

        &:hover {
            color: $white;
            border-color: $theme-color;

            &::before {
                width: 100%;
                background: $theme-color;
            }
        }

        @media #{$laptop} {
            padding: 16px 16px;
            margin: 5px 2px;
        }

        @media #{$xs} {
            padding: 16px 10px;
            margin: 5px 2px;
        }
    }
}

//for service details
.widget-contact {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: $theme-color2;
    text-align: center;
    padding: 340px 50px 30px 50px;
    border-radius: 15px;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0px 0px 25px 25px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.80) 100%);
        width: 100%;
        height: 252px;
        z-index: -1;
    }

    .contact-title {
        color: $white;
        font-size: 32px;
        font-weight: 600;
        font-family: $poppinsFont;

        @media #{$max-lg} {
            font-size: 22px;
            line-height: 40px;
        }
    }

    .ht-btn {
        &::before {
            background: $white;
        }

        &:hover {
            color: $title;
        }
    }

    @media #{$max-lg} {
        padding-top: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$max-xs} {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.widget-contacts {
    .ht-btn {
        &::before {
            background: $white;
        }

        &:hover {
            color: $black;
        }
    }
}